### VS CODE ###
.vscode/settings.json

### Django ###
__pycache__/
pops_website/settings/development.py
pops_website/settings/production.py
pops_website/settings/staging.py
pops_website/db.sqlite3
static_files_all/
db.sqlite3
*/migrations/0*
/db.sqlite3

cloud_sql_proxy.exe
pops-project-b461537ece08.json

app.yaml
