### VS CODE ###
.vscode/settings.json

### Django ###
__pycache__/
htmlcov/
.coverage
pops_website/settings/development.py
pops_website/settings/production.py
pops_website/settings/staging.py
pops_website/settings/staging2.py
pops_website/settings/__init__.py
pops_website/db.sqlite3
static_files_all/
db.sqlite3
/db.sqlite3
media/*
cloud_sql_proxy.exe
pops-project-b461537ece08.json

app.yaml
pops_staging.json
local.env

stuff/*
