[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
dash = "*"
dash-table = "*"
dash-html-components = "*"
django-autocomplete-light = "*"
arrow = "*"
django-crispy-forms = "*"
django-storages = "*"
psycopg2 = "*"
google-auth = "*"
google-cloud-storage = "*"
wheel = "*"
plotly = "*"
numpy = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
