[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
dash = "*"
dash-table = "*"
dash-html-components = "*"
django-autocomplete-light = "*"
arrow = "*"
django-crispy-forms = "*"
psycopg2 = "*"
wheel = "*"
plotly = "*"
django-debug-toolbar = "*"
django-widget-tweaks = "*"
coverage = "*"
python-dotenv = "*"
numpy = "==1.19.3"
channels = "*"
channels-redis = "*"
django-storages = "*"
boto3 = "*"
botocore = "*"
s3transfer = "*"
gunicorn = "*"
django-redis = "*"
redis = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
