<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">

  <div id="header" class="row text-center" style="background-color:transparent;">
    <div class="col">
      <h1>Log in</h1>
    </div>
  </div>
<form method="post">
<div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="text-center py-2">
  <button class="btn btn-info btn-lg" type="submit">Log in</button>
  </div>
</form>
<div class="text-center">
<span>Not a user? <a class="" href="{% url 'signup' %}">Create Account</a>
</div>
<div class="text-center">
<span>Forgot password? <a class="" href="{% url 'password_reset' %}">Reset Password</a></span>
</div>

</div>
</div>
</div>

{% endblock %}