{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">

    <div id="header" class="row text-center" style="background-color:transparent;">
        <div class="col">
            <h1>Reset password</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">

            {% if validlink %}
                <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button class="btn btn-info" type="submit">Reset passsword</button>
                </div>
                </form>
            {% else %}
                <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
                </p>
  {% endif %}
          </div>
    </div>
</div>

{% endblock %}
