{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">

            {% if validlink %}
                <h2 class="text-center">Password Reset</h2>
                <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button class="btn btn-info" type="submit">Reset passsword</button>
                </div>
                </form>
            {% else %}
                <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
                </p>
  {% endif %}
          </div>
    </div>
</div>

{% endblock %}
