{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">

  <div id="header" class="row text-center" style="background-color:transparent;">
    <div class="col">
      <h1>Change Password</h1>
    </div>
  </div>
  <!--Start of form-->
  <form method="post" enctype="multipart/form-data" class="form-horizontal">
          {% csrf_token %}

    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
{% for field in form %}
<div class="form-group {{ form_class }}">
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  <div class="input-group ">
  {% if field.errors %}
    {% render_field field class+="form-control is-invalid" %}
  {% else %}
    {% render_field field class+="form-control" %}
  {% endif %}
{% if field.help_text %}
<div class="text-muted">
{{ field.help_text }}
</div>
{% endif %}
  </div>
  {% for error in field.errors %}
  <div class=" text-danger pt-0" style="font-size:0.8em">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
</div>
{% endfor %}

</div>
</div>
          <!--Submit button for form-->
          <div class="text-center py-2">
            <button class="btn btn-info btn-lg" type="submit">Change Password</button>
          </div>
</form>
</div>
{% endblock %}
