{% extends 'base.html' %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">

  <div id="header" class="row text-center" style="background-color:transparent;">
    <div class="col">
      <h1>Password change complete</h1>
    </div>
  </div>
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8 text-center">
            <p>Your password has been changed. Go back to <a class="text-info" href="{% url 'my_account' %}">My Account</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
