{% extends 'base.html' %}
{% load static %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">

    <div id="header" class="row text-center" style="background-color:transparent;">
        <div class="col">
            <h1>Email sent</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">

            <p>
                We've emailed you instructions for resetting your password, if an account exists with the email you entered.
                You should receive them shortly.
            </p>
            <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>

        </div>
    </div>
</div>

{% endblock %}
