{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">

            <p>
                We've emailed you instructions for resetting your password, if an account exists with the email you entered.
                You should receive them shortly.
            </p>
            <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>

        </div>
    </div>
</div>

{% endblock %}
