{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
<!-- AJAX requires jquery (not jquery slim) -->
{% block jquery_source %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock %}
{% block content %}
<div id="page-content" class="container-fluid">
  <div id="header" class="row text-center" style="background-color:transparent;">
    <div class="col">
      <h1>Subscribe</h1>
    </div>
  </div>
  <div id="" class="row justify-content-center section-style">
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
      <form id="add_email" action="{% url 'subscribe_email' %}" method="post">
        {% csrf_token %}
        <div>Get notified of PoPS updates</div>
        <div class="input-group">
          <input type="email" class="form-control" name="email" id="id_email" placeholder="name@example.com">
          <div class="input-group-append">
            <button class="btn btn-info" type="submit">Sign up</button>
          </div>
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </form>
    </div> <!-- Close main col -->
  </div>
</div>

<script src="{% static 'js/dashboard/ajax_setup_functions.js' %}"></script>
<script>
$("#add_email").on('submit', function () {
  console.log("Adding email");
  event.preventDefault();
  var form = $("#add_email");
  $.ajax({
    url: form.attr("action"),
    data: form.serialize(),
    type : "POST", // http method
    success: function (data) {
      console.log('Success')
      $('#emailHelp').text(data.email + ' added to listserv');
      $( "#emailHelp" ).removeClass( 'text-danger' );
      $( "#emailHelp" ).addClass( 'text-muted' );
    },
    error : function(xhr,errmsg,err) {
    console.log('There was an error writing to the database: ' + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    var data=xhr.responseText;
    var jsonResponse = JSON.parse(data);
    console.log(jsonResponse["email"]);
    $('#emailHelp').text('Error: ' + jsonResponse["email"] );
    $( "#emailHelp" ).removeClass( 'text-muted' );
    $( "#emailHelp" ).addClass( 'text-danger' );
    }
  });
});

</script>
{% endblock %}