{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}

{% block content %}
<div id="page-content" class="container-fluid">
  <div id="header" class="row text-center" style="background-color:transparent;">
    <div class="col">
      <h1>Subscribe</h1>
    </div>
  </div>
  <div id="" class="row justify-content-center section-style">
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
      <form id="add_email" action="{% url 'subscribe_email' %}" method="post">
        {% csrf_token %}
        <div>Get notified of PoPS updates</div>
        <div class="input-group">
          <input type="email" class="form-control" name="email" id="id_email" placeholder="name@example.com">
          <div class="input-group-append">
            <button class="btn btn-warn" type="submit">Sign up</button>
          </div>
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6Ld4FoYaAAAAAGNB0WwFf0T8hsoer9sM0bdJHjEB"></div>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="text-danger">
            {{ error|escape }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="text-danger">
            {{ error|escape }}
        </div>
    {% endfor %}
{% endif %}
{% if error %}
        <div class="text-danger">
            Error: {{ error|escape }}
        </div>
{% endif %}
      </form>
    </div> <!-- Close main col -->
  </div>
</div>

{% endblock %}