{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
<!-- AJAX requires jquery (not jquery slim) -->
{% block jquery_source %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock %}
{% block content %}
<div id="page-content" class="container-fluid">
  <div id="header" class="row text-center" style="background-color:transparent;">
    <div class="col">
      <h1>Unsubscribe</h1>
    </div>
  </div>
  <div id="" class="row justify-content-center section-style">
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
      <form id="remove_email" action="{% url 'unsubscribe_email' uidb64=uidb64%}" method="post">
        {% csrf_token %}
        <div>Email to unsubscribe:</div>
        <div class="input-group">
          <input type="email" class="form-control" name="email" id="id_email" placeholder="name@example.com">
          <div class="input-group-append">
            <button class="btn btn-info" type="submit">Unsubscribe</button>
          </div>
        </div>
        {% if errors %}
        <small id="emailHelp" class="form-text text-danger">That email does not exist.</small>
        {% else %}
        <small id="emailHelp" class="form-text text-muted">We're sorry to see you go!</small>
        {% endif %}
      </form>
    </div> <!-- Close main col -->
  </div>
</div>

{% endblock %}
