a.toc-link{
    color:#17a2b8;
}
div.field-container{
    background-color: #212529;
    border-color: transparent;
    margin: 0;
    padding: 0;
}
h2.section-heading-title{
    color:white;
    font-size:1.8em;
    padding: 1em 0 0;

}

a.back-to-top-link{
    color:#17a2b8;
}

div.card-body{
    padding: 0.5em 1em;
}
h3.field-name{
    color:white;
    font-size:1.5em;
}

div.field-description{
    color:white;
    padding: 0 1em;
}

div.requirements {
    color:white;
    padding: 0.2em 1em;

  }

div.example {
    color:#17a2b8;
    padding: 0 1em;

  }

