body {
  font-size: 1.2em;

}

#core-team {
  background-color: #4c9c9c;
}

#affiliates {
  background-color: #676b73;
}

#funding {
  
}

div#people .card {
  background-color: #DBDCDC;
  color: black;
}

.person-name {
  font-size: 1.2em;
  padding:0;
  margin:0;
}

.person-title {
  font-size: 0.8em;
  padding:0;
  margin:0;
}
.person-description {
  font-size: 0.9em;
  padding:10px 0;
  margin:0;
}
.person-contact{
  font-size: 0.8em;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem 1rem;
}
