  div.panel-container{
    background-color:#0b0d0e;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:1em;
    padding: 1em;
    flex:1;

  }

.bodycontainer { max-height: 85px; 
  width: 100%; 
  margin: 0; 
  overflow-y: auto; 
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-scrollable { margin: 0; padding: 0; }

