#header {
  background-color: black;
}

#description,
#examples {
  background-color: #212529;
}

#how {
  background-color: #4c9c9c;
}

#who {
  background-color: black;
}

#examples {
  background-color: #676b73;
}
