body {
  font-size: 1.2em;

}
#header {
  background-color: #3d7878;
}

#core-team {
  background-color: #19191a;
}

#affiliates {
  background-color: #484a4f;
}

#past-team {
  background-color: #3d7878;
}


#funding {
}

div#people .card {
  background-color: #DBDCDC;
  color: black;
}

.person-name {
  font-size: 1.2em;
  padding:0;
  margin:0;
}

.person-title {
  font-size: 0.8em;
  padding:0;
  margin:0;
}
.person-organization, .person-department {
  font-size: 0.7em;
  padding:0;
  margin:0;
}
.person-description {
  font-size: 0.8em;
  padding:10px 0;
  margin:0;
}
.person-contact{
  font-size: 0.8em;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem 1rem;
}

