{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
{% endblock %}


{% block content %}

<div class="container py-4">

    <h2 class="text-center">Case Study Instructions</h2>
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
            <section>
                <h3>Case study details</h3>
                <div class="px-2">
                <h4>Case study name</h4>
                <p class="px-2">Information about case study name</p>
                </div>
            </section>
        </div> <!-- Close main col -->
    </div> <!-- Close main row -->
</div> <!-- Close main container -->
{% endblock %}