{% extends 'base.html' %}
{% load static %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/create_case_study_styles.css' %}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% load filename %}


{% block content %}


<div class="container py-2 pb-4">

    <h2 class="text-center">Review Case Study</h2>
    <div class="row align-items-end">
        <div class="col-sm-8 col-md-8 col-lg-10">
            <div class="alert alert-info">
                <p>
                    <strong>Please carefully review your case study.</strong> If everything is
                    correct, click "Calibrate" to calibrate and validate the case study. 
                    If you find any mistakes, click "Edit" to edit the case study.
                </p>
                <p>
                    Note: Calibration and validation can take many hours. You may check on the
                    progress of your case study on your Account page.
                    If you have any questions, be sure to read the
                    <a class="" href="{% url 'case_study_help' %}">Case Study Help page</a>.
                </p>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-2 pb-4">
            <!--Submit button for form-->
            <div class="text-center p-2">
                <a class="btn btn-secondary btn-lg btn-block" href="#" role="button">Edit</a>                
            </div>
            <!--Submit button for form--> 
            <div class="text-center p-2">
                <button class="btn btn-info btn-lg btn-block" type="submit">Calibrate</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="panel-container">
                <h4>{{ case_study.name }}</h4>
                <p><strong>Description:</strong> {{ case_study.description }}</p>

                <table class="table table-hover table-dark table-sm">
                    <tbody>
                        <tr>
                            <th class="w-50" scope="row">Name:</th>
                            <td class="w-50"> {{ case_study.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Number of pests:</th>
                            <td> {{ case_study.number_of_pests }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Number of hosts:</th>
                            <td> {{ case_study.number_of_hosts }}</td>
                        </tr>
                        <tr>
                            <th scope="row">First calibration year:</th>
                            <td> {{ case_study.start_year }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Final calibration year:</th>
                            <td> {{ case_study.end_year }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Final model year:</th>
                            <td> {{ case_study.future_years }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Time step:</th>
                            <td> {{ case_study.time_step }}</td>
                        </tr>
                        {% for pest in pests %}
                        <tr class="bg-dark">
                            <th scope="row">PEST {{ forloop.counter }}:</th>
                            <td> 
                        {% if pest.pest_information.common_name == "Other" %}
                        {{ pest.name }}                        
                        {% else %}
                        {{ pest.pest_information }}
                        {% endif %}
                             </td>
                        </tr>
                        <tr>
                            <th class="pl-4" scope="row">Model type:</th>
                            <td> {{ pest.model_type }}</td>
                        </tr>
                        <tr>
                            <th class="pl-4" scope="row">Dispersal type:</th>
                            <td> {{ pest.dispersal_type }}</td>
                        </tr>

                        {% endfor %}
                        {% for host in hosts %}
                        <tr class="bg-dark">
                            <th scope="row">HOST {{ forloop.counter }}:</th>
                            <td> {{ host.name }} </td>
                        </tr>
                        <tr>
                            <th class="pl-4" scope="row">Score:</th>
                            <td> {{ host.score }}</td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
                {% for host in hosts %}
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Mortality" check_if_true=host.mortality_on %}
                    {% if host.mortality_on %}
                    <div class="col-auto">
                        {% if host.mortality.method == "USER" %}
                        <p>(Rate: {{ host.mortality.rate }},
                            Time lag: {{ host.mortality.time_lag }} years)</p>
                        {% else %}
                        <p></p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% for pest in pests %}
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Vector" check_if_true=pest.vector_born %}
                    {% if pest.vector_born %}
                    <p>(Name: {{pest.vector.common_name}})</p>
                    {% endif %}
                </div>
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Prior treatments" check_if_true=pest.use_treatment %}
                    {% if pest.use_treatment %}
                    <div class="col-auto">
                        <p></p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <div class="panel-container">
                <h4>Uploaded files:</h4>
                <table class="table table-dark table-hover table-sm">
                    <tbody>
                    {% for pest in pests %}
                        <tr>
                            <th scope="row">Infestation data:</th>
                            <td>
                                {{ pest.initialinfestation.user_file|filename }}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row">All plant data:</th>
                            <td>
                                {{ case_study.allplantsdata.user_file|filename }}
                            </td>
                        </tr>
                        {% for host in hosts %}
                        <tr>
                            <th scope="row">Host {{ forloop.counter }} data:</th>
                            <td>
                                {{ host.hostdata.user_file|filename }}
                            </td>
                        </tr>
                        {% if host.mortality_on %}
                        {% if host.mortality.method == "DATA_FILE" %}
                        <tr>
                            <th scope="row">Mortality data:</th>
                            <td>
                                {{ host.mortality.user_file|filename }}
                            </td>
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        {% for pest in pests %}
                        {% if pest.vector_born %}
                        <tr>
                            <th scope="row">Vector data:</th>
                            <td>
                                {{ pest.vector.user_file|filename }}
                            </td>
                        </tr>
                        {% endif %}
                        {% if pest.use_treatment %}
                        <tr>
                            <th scope="row">Prior treatment data:</th>
                            <td>
                                {{ pest.priortreatment.user_file|filename }}
                            </td>
                        </tr>
                        {% endif %}                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



        <div class="col-lg-7">
            <div class="panel-container">
                <h4>Weather details:</h4>
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Wind" check_if_true=case_study.weather.wind_on %}
                    {% if case_study.weather.wind_on %}
                    <p>
                        (Direction: {{ case_study.weather.wind.get_wind_direction_display }},
                        Kappa: {{ case_study.weather.wind.kappa }})
                    </p>
                    {% endif %}
                </div>
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Seasonality" check_if_true=case_study.weather.seasonality_on %}
                    {% if case_study.weather.seasonality_on %}
                    <p>
                        ({{ case_study.weather.seasonality.get_first_month_display }} -
                        {{ case_study.weather.seasonality.get_last_month_display }})
                    </p>
                    {% endif %}
                </div>
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Lethal temperature" check_if_true=case_study.weather.lethal_temp_on %}
                    {% if case_study.weather.lethal_temp_on %}
                    <p>
                        ({{ case_study.weather.lethaltemperature.get_month_display }},
                        {{ case_study.weather.lethaltemperature.value }} &#8451,
                        {{ case_study.weather.lethaltemperature.get_lethal_type_display }})
                    </p>
                    {% endif %}
                </div>
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Temperature" check_if_true=case_study.weather.temp_on %}
                    {% if case_study.weather.temp_on %}
                    {% if case_study.weather.temperature.method == "RECLASS" %}
                    <p>(Method: Reclass)</p>
                    {% else %}
                    <p>(Method: Polynomial)</p>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Precipitation" check_if_true=case_study.weather.precipitation_on %}
                    {% if case_study.weather.precipitation_on %}
                    {% if case_study.weather.precipitation.method == "RECLASS" %}
                    <p>(Method: Reclass)</p>
                    {% else %}
                    <p>(Method: Polynomial)</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>



{% if case_study.weather.temp_on %}
<div class="panel-container">
    {% if case_study.weather.temperature.method == "RECLASS" %}

    <div class="row justify-content-center">
        <div class="col">
            <h4>Temperature reclass</h4>
            <div class="px-4">
                <small class="text-secondary">Note: Any values not specified in the reclass table will be reclassed to zero
                    (shown
                    in <span class="text-danger">red</span> in the figure below).</small>
            </div>
        </div>
        <div class="col-6">
            <table class="table table-sm table-dark table-scrollable text-center small">
                <thead>
                    <th width="30%">Min (&#8451)</th>
                    <th width="30%">Max (&#8451)</th>
                    <th width="35%">Reclass</th>
                </thead>
            </table>

            <div class="bodycontainer">
                <table class="table table-scrollable table-hover table-dark table-sm table-bordered text-right small">
                    <tbody>
                        {% for row in case_study.weather.temperature.temperaturereclass_set.all %}
                        <tr>
                            <td class="pr-3" width="33%">{{ row.min_value}}</td>
                            <td class="pr-3" width="33%"> {{row.max_value}}</td>
                            <td class="pr-3" width="33%"> {{row.reclass}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12">
            <div id="temp_reclass_plot" style="max-height:300px;">
            </div>
        </div>
    </div>
    {% endif %}
    {% if case_study.weather.temperature.method == "POLYNOMIAL" %}
    <div class="row justify-content-between">
        <div class="col-xs-10 col-lg-6 pb-2">
        <h4>Temperature polynomial</h4>
        </div>
        {% if case_study.weather.temperature.temperaturepolynomial.degree == 1 %}
        <div class="col-10 col-lg-6 text-secondary " style="font-size: 0.8em; font-family:'Lucida Console', Monaco, monospace">
        <table class="">
        <tbody class="">
        <tr>
        <td class="text-right">Reclass =</td><td class="text-right">{{ case_study.weather.temperature.temperaturepolynomial.a0 }}</td>
        </td>
        </tr>
        <tr>
        <td class="text-right">+</td><td class="text-right">{{ case_study.weather.temperature.temperaturepolynomial.a1 }}
        </td><td class="">(T + {{ case_study.weather.temperature.temperaturepolynomial.x1 }})</td>
        </tr>
        </tbody>
        </table>
        </div>
        {% elif case_study.weather.temperature.temperaturepolynomial.degree == 2 %}
        <div class="col-10 col-lg-6 text-secondary " style="font-size: 0.8em; font-family:'Lucida Console', Monaco, monospace">
        <table class="">
        <tbody class="">
        <tr>
        <td class="text-right">Reclass =</td><td class="text-right">{{ case_study.weather.temperature.temperaturepolynomial.a0 }}</td>
        </td>
        </tr>
        <tr>
        <td class="text-right">+</td><td class="text-right">{{ case_study.weather.temperature.temperaturepolynomial.a1 }}
        </td><td class="">(T + {{ case_study.weather.temperature.temperaturepolynomial.x1 }})</td>
        </tr>
        <tr>
        <td class="text-right">+</td><td class="text-right">{{ case_study.weather.temperature.temperaturepolynomial.a2 }}
                </td><td>(T + {{ case_study.weather.temperature.temperaturepolynomial.x2 }})<sup>2</sup></td>
        </tr>
        </tbody>
        </table>
        </div>
        {% else %}
        <div class="col-10 col-lg-6 text-secondary " style="font-size: 0.8em; font-family:'Lucida Console', Monaco, monospace">
        <table class="">
        <tbody class="">
        <tr>
        <td class="text-right">Reclass =</td><td class="text-right">{{ case_study.weather.temperature.temperaturepolynomial.a0 }}</td>
        </td>
        </tr>
        <tr>
        <td class="text-right">+</td><td class="text-right">{{ case_study.weather.temperature.temperaturepolynomial.a1 }}
        </td><td class="">(T + {{ case_study.weather.temperature.temperaturepolynomial.x1 }})</td>
        </tr>
        <tr>
        <td class="text-right">+</td><td class="text-right">{{ case_study.weather.temperature.temperaturepolynomial.a2 }}
                </td><td>(T + {{ case_study.weather.temperature.temperaturepolynomial.x2 }})<sup>2</sup></td>
        </tr>
        <tr>
        <td class="text-right">+</td><td class="text-right">{{ case_study.weather.temperature.temperaturepolynomial.a3 }}
                </td><td>(T + {{ case_study.weather.temperature.temperaturepolynomial.x3 }})<sup>3</sup></td>
        </tr>
        </tbody>
        </table>
        </div>
        {% endif %}
                <div class="col-12">
            <div id="temp_polynomial_plot" style="max-height:300px;">
            </div>
        </div>
                    <div class="col ml-4 px-4">
                <small class="text-secondary">Note: Negative values will be reclassed to zero, values 
                greater than 1 will be reclassed to 1.</small>
            </div>

    </div>
    {% endif %}
</div>
{% endif %}

{% if case_study.weather.precipitation_on %}
<div class="panel-container">
    {% if case_study.weather.precipitation.method == "RECLASS" %}

    <div class="row justify-content-center">
        <div class="col">
            <h4>Precipitation reclass</h4>
            <div class="px-4">
                <small class="text-secondary">Note: Any values not specified in the reclass table will be reclassed to zero
                    (shown
                    in <span class="text-danger">red</span> in the figure below).</small>
            </div>
        </div>
        <div class="col-6">
            <table class="table table-sm table-dark table-scrollable text-center small">
                <thead>
                    <th width="30%">Min (mm)</th>
                    <th width="30%">Max (mm)</th>
                    <th width="35%">Reclass</th>
                </thead>
            </table>

            <div class="bodycontainer">
                <table class="table table-scrollable table-hover table-dark table-sm table-bordered text-right small">
                    <tbody>
                        {% for row in case_study.weather.precipitation.precipitationreclass_set.all %}
                        <tr>
                            <td class="pr-3" width="33%">{{ row.min_value}}</td>
                            <td class="pr-3" width="33%"> {{row.max_value}}</td>
                            <td class="pr-3" width="33%"> {{row.reclass}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12">
            <div id="precip_reclass_plot" style="max-height:300px;">
            </div>
        </div>
    </div>
    {% endif %}
    {% if case_study.weather.precipitation.method == "POLYNOMIAL" %}
    <div class="row justify-content-between">
        <div class="col-xs-10 col-lg-6 pb-2">
        <h4>Precipitation polynomial</h4>
        </div>
        {% if case_study.weather.precipitation.precipitationpolynomial.degree == 1 %}
        <div class="col-10 col-lg-6 text-secondary " style="font-size: 0.8em; font-family:'Lucida Console', Monaco, monospace">
        <table class="">
        <tbody class="">
        <tr>
        <td class="text-right">Reclass =</td><td class="text-right">{{ case_study.weather.precipitation.precipitationpolynomial.a0 }}</td>
        </td>
        </tr>
        <tr>
        <td class="text-right">+</td><td class="text-right">{{ case_study.weather.precipitation.precipitationpolynomial.a1 }}
        </td><td class="">(P + {{ case_study.weather.precipitation.precipitationpolynomial.x1 }})</td>
        </tr>
        </tbody>
        </table>
        </div>
        {% elif case_study.weather.precipitation.precipitationpolynomial.degree == 2 %}
        <div class="col-10 col-lg-6 text-secondary " style="font-size: 0.8em; font-family:'Lucida Console', Monaco, monospace">
        <table class="">
        <tbody class="">
        <tr>
        <td class="text-right">Reclass =</td><td class="text-right">{{ case_study.weather.precipitation.precipitationpolynomial.a0 }}</td>
        </td>
        </tr>
        <tr>
        <td class="text-right">+</td><td class="text-right">{{ case_study.weather.precipitation.precipitationpolynomial.a1 }}
        </td><td class="">(P + {{ case_study.weather.precipitation.precipitationpolynomial.x1 }})</td>
        </tr>
        <tr>
        <td class="text-right">+</td><td class="text-right">{{ case_study.weather.precipitation.precipitationpolynomial.a2 }}
                </td><td>(P + {{ case_study.weather.precipitation.precipitationpolynomial.x2 }})<sup>2</sup></td>
        </tr>
        </tbody>
        </table>
        </div>
        {% else %}
        <div class="col-10 col-lg-6 text-secondary " style="font-size: 0.8em; font-family:'Lucida Console', Monaco, monospace">
        <table class="">
        <tbody class="">
        <tr>
        <td class="text-right">Reclass =</td><td class="text-right">{{ case_study.weather.precipitation.precipitationpolynomial.a0 }}</td>
        </td>
        </tr>
        <tr>
        <td class="text-right">+</td><td class="text-right">{{ case_study.weather.precipitation.precipitationpolynomial.a1 }}
        </td><td class="">(P + {{ case_study.weather.precipitation.precipitationpolynomial.x1 }})</td>
        </tr>
        <tr>
        <td class="text-right">+</td><td class="text-right">{{ case_study.weather.precipitation.precipitationpolynomial.a2 }}
                </td><td>(P + {{ case_study.weather.precipitation.precipitationpolynomial.x2 }})<sup>2</sup></td>
        </tr>
        <tr>
        <td class="text-right">+</td><td class="text-right">{{ case_study.weather.precipitation.precipitationpolynomial.a3 }}
                </td><td>(P + {{ case_study.weather.precipitation.precipitationpolynomial.x3 }})<sup>3</sup></td>
        </tr>
        </tbody>
        </table>
        </div>
                {% endif %}
                <div class="col-12">
            <div id="precip_polynomial_plot" style="max-height:300px;">
            </div>
        </div>
                    <div class="col ml-4 px-4">
                <small class="text-secondary">Note: Negative values will be reclassed to zero, values 
                greater than 1 will be reclassed to 1.</small>
            </div>

    </div>
    {% endif %}
</div>
{% endif %}

            <div class="row justify-content-end pb-4">
                <div class="col-auto">
                    <div class="d-inline text-center p-2">
                        <a class="btn btn-secondary btn-lg" href="#" role="button">Edit</a>                
                    </div>
                    <div class="d-inline text-center p-2">
                        <button class="btn btn-info btn-lg" type="submit">Calibrate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="{% static 'js/case_study/review_plots.js' %}"></script>
<script>
//PLOTTING TEMPERATURE
// POLYNOMIAL
{% if case_study.weather.temperature.method == "POLYNOMIAL" %}
var a0 = {{ case_study.weather.temperature.temperaturepolynomial.a0 }} 
var a1 = {{ case_study.weather.temperature.temperaturepolynomial.a1 }}
var x1 = {{ case_study.weather.temperature.temperaturepolynomial.x1 }}
var a2 = {{ case_study.weather.temperature.temperaturepolynomial.a2|default_if_none:0 }}
var x2 = {{ case_study.weather.temperature.temperaturepolynomial.x2|default_if_none:0 }}
var a3 = {{ case_study.weather.temperature.temperaturepolynomial.a3|default_if_none:0 }}
var x3 = {{ case_study.weather.temperature.temperaturepolynomial.x3|default_if_none:0 }}

polynomial_plot(div_id="temp_polynomial_plot",x_range=[-50,50],x_label='Temperature (&deg;C)',a0=a0,a1=a1,x1=x1,a2=a2,x2=x2,a3=a3,x3=x3);
{% endif %}

//RECLASS
{% if case_study.weather.temperature.method == "RECLASS" %}
    var data = [];
    var x_range=[-50, 50];
    var x_label='Temperature (&deg;C)';
    {% for row in case_study.weather.temperature.temperaturereclass_set.all %}
        {% if forloop.first %}
            trace=reclass_plot(min=x_range[0],max={{row.min_value}},reclass=0,color='red')
            data.push(trace);
        {% endif %}
        {% if forloop.last %}
            trace=reclass_plot(min={{row.max_value}},max=x_range[1],reclass=0,color='red')
            data.push(trace);
        {% endif %}
        trace=reclass_plot(min={{row.min_value}},max={{row.max_value}},reclass={{row.reclass}},color='cyan')
        data.push(trace);
    {% endfor %}
    var layout = dark_layout(x_label=x_label,x_range=[x_range[0]-1,x_range[1]+1])
    Plotly.newPlot('temp_reclass_plot', data, layout, {responsive: true});
{% endif %}

//PLOTTING PRECIPITATION
// POLYNOMIAL
{% if case_study.weather.precipitation.method == "POLYNOMIAL" %}
var a0 = {{ case_study.weather.precipitation.precipitationpolynomial.a0 }} 
var a1 = {{ case_study.weather.precipitation.precipitationpolynomial.a1 }}
var x1 = {{ case_study.weather.precipitation.precipitationpolynomial.x1 }}
var a2 = {{ case_study.weather.precipitation.precipitationpolynomial.a2|default_if_none:0 }}
var x2 = {{ case_study.weather.precipitation.precipitationpolynomial.x2|default_if_none:0 }}
var a3 = {{ case_study.weather.precipitation.precipitationpolynomial.a3|default_if_none:0 }}
var x3 = {{ case_study.weather.precipitation.precipitationpolynomial.x3|default_if_none:0 }}

polynomial_plot(div_id="precip_polynomial_plot",x_range=[0,100],x_label='Precipitation (mm)',a0=a0,a1=a1,x1=x1,a2=a2,x2=x2,a3=a3,x3=x3);
{% endif %}

//RECLASS
{% if case_study.weather.precipitation.method == "RECLASS" %}
    var data = [];
    var x_range=[0, 100];
    var x_label='Precipitation (mm)';
    {% for row in case_study.weather.precipitation.precipitationreclass_set.all %}
        {% if forloop.first %}
            trace=reclass_plot(min=x_range[0],max={{row.min_value}},reclass=0,color='red')
            data.push(trace);
        {% endif %}
        {% if forloop.last %}
            trace=reclass_plot(min={{row.max_value}},max=x_range[1],reclass=0,color='red')
            data.push(trace);
        {% endif %}
        trace=reclass_plot(min={{row.min_value}},max={{row.max_value}},reclass={{row.reclass}},color='cyan')
        data.push(trace);
    {% endfor %}
    var layout = dark_layout(x_label=x_label,x_range=[x_range[0]-1,x_range[1]+1])
    Plotly.newPlot('precip_reclass_plot', data, layout, {responsive: true});
{% endif %}

</script>
{% endblock %}