{% extends 'base.html' %}
{% load static %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/create_case_study_styles.css' %}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% load filename %}


{% block content %}

<div class="container py-2 pb-4">

    <h2 class="text-center">Review Case Study</h2>
    <div class="row align-items-end">
        <div class="col-sm-8 col-md-8 col-lg-10">
            <div class="alert alert-info">
                <p>
                    <strong>Please carefully review your case study.</strong> If everything is
                    correct, click "Calibrate" to calibrate and validate the case study. 
                    If you find any mistakes, click "Edit" to edit the case study.
                </p>
                <p>
                    Note: Calibration and validation can take many hours. You may check on the
                    progress of your case study on your Account page.
                    If you have any questions, be sure to read the
                    <a class="" href="{% url 'case_study_help' %}">Case Study Help page</a>.
                </p>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-2 pb-4">
            <!--Submit button for form-->
            <div class="text-center p-2">
                <a class="btn btn-secondary btn-lg btn-block" href="#" role="button">Edit</a>                
            </div>
            <!--Submit button for form--> 
            <div class="text-center p-2">
                <button class="btn btn-info btn-lg btn-block" type="submit">Calibrate</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="panel-container">
                <h4>Case study details:</h4>
                <table class="table table-hover table-dark table-sm">
                    <tbody>
                        <tr>
                            <th class="w-50" scope="row">Name:</th>
                            <td class="w-50"> {{ case_study.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Number of pests:</th>
                            <td> {{ case_study.number_of_pests }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Number of hosts:</th>
                            <td> {{ case_study.number_of_hosts }}</td>
                        </tr>
                        <tr>
                            <th scope="row">First calibration year:</th>
                            <td> {{ case_study.start_year }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Final calibration year:</th>
                            <td> {{ case_study.end_year }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Final model year:</th>
                            <td> {{ case_study.future_years }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Time step:</th>
                            <td> {{ case_study.time_step }}</td>
                        </tr>
                        {% for pest in pests %}
                        <tr class="bg-dark">
                            <th scope="row">PEST {{ forloop.counter }}:</th>
                            <td> 
                        {% if pest.pest_information.common_name == "Other" %}
                        {{ pest.name }}                        
                        {% else %}
                        {{ pest.pest_information }}
                        {% endif %}
                             </td>
                        </tr>
                        <tr>
                            <th class="pl-4" scope="row">Model type:</th>
                            <td> {{ pest.model_type }}</td>
                        </tr>
                        <tr>
                            <th class="pl-4" scope="row">Dispersal type:</th>
                            <td> {{ pest.dispersal_type }}</td>
                        </tr>

                        {% endfor %}
                        {% for host in hosts %}
                        <tr class="bg-dark">
                            <th scope="row">HOST {{ forloop.counter }}:</th>
                            <td> {{ host.name }} </td>
                        </tr>
                        <tr>
                            <th class="pl-4" scope="row">Score:</th>
                            <td> {{ host.score }}</td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
                {% for host in hosts %}
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Mortality" check_if_true=host.mortality_on %}
                    {% if host.mortality_on %}
                    <div class="col-auto">
                        {% if host.mortality.method == "USER" %}
                        <p>(Rate: {{ host.mortality.rate }},
                            Time lag: {{ host.mortality.time_lag }} years)</p>
                        {% else %}
                        <p></p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% for pest in pests %}
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Vector" check_if_true=pest.vector_born %}
                    {% if pest.vector_born %}
                    <p>(Name: {{pest.vector.common_name}})</p>
                    {% endif %}
                </div>
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Prior treatments" check_if_true=pest.use_treatment %}
                    {% if pest.use_treatment %}
                    <div class="col-auto">
                        <p></p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <div class="panel-container">
                <h4>Uploaded files:</h4>
                <table class="table table-dark table-hover table-sm">
                    <tbody>
                    {% for pest in pests %}
                        <tr>
                            <th scope="row">Infestation data:</th>
                            <td>
                                {{ pest.initialinfestation.user_file|filename }}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row">All plant data:</th>
                            <td>
                                {{ case_study.allplantsdata.user_file|filename }}
                            </td>
                        </tr>
                        {% for host in hosts %}
                        <tr>
                            <th scope="row">Host {{ forloop.counter }} data:</th>
                            <td>
                                {{ host.hostdata.user_file|filename }}
                            </td>
                        </tr>
                        {% if host.mortality_on %}
                        {% if host.mortality.method == "DATA_FILE" %}
                        <tr>
                            <th scope="row">Mortality data:</th>
                            <td>
                                {{ host.mortality.user_file|filename }}
                            </td>
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        {% for pest in pests %}
                        {% if pest.vector_born %}
                        <tr>
                            <th scope="row">Vector data:</th>
                            <td>
                                {{ pest.vector.user_file|filename }}
                            </td>
                        </tr>
                        {% endif %}
                        {% if pest.use_treatment %}
                        <tr>
                            <th scope="row">Prior treatment data:</th>
                            <td>
                                {{ pest.priortreatment.user_file|filename }}
                            </td>
                        </tr>
                        {% endif %}                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



        <div class="col-lg-7">
            <div class="panel-container">
                <h4>Description:</h4>
                <p>{{ case_study.description }}</p>
            </div>

            <div class="panel-container">
                <h4>Weather details:</h4>
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Wind" check_if_true=case_study.weather.wind_on %}
                    {% if case_study.weather.wind_on %}
                    <p>
                        (Direction: {{ case_study.weather.wind.get_wind_direction_display }},
                        Kappa: {{ case_study.weather.wind.kappa }})
                    </p>
                    {% endif %}
                </div>
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Seasonality" check_if_true=case_study.weather.seasonality_on %}
                    {% if case_study.weather.seasonality_on %}
                    <p>
                        ({{ case_study.weather.seasonality.get_first_month_display }} -
                        {{ case_study.weather.seasonality.get_last_month_display }})
                    </p>
                    {% endif %}
                </div>
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Lethal temperature" check_if_true=case_study.weather.lethal_temp_on %}
                    {% if case_study.weather.lethal_temp_on %}
                    <p>
                        ({{ case_study.weather.lethaltemperature.get_month_display }},
                        {{ case_study.weather.lethaltemperature.value }} &#8451,
                        {{ case_study.weather.lethaltemperature.get_lethal_type_display }})
                    </p>
                    {% endif %}
                </div>
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Temperature" check_if_true=case_study.weather.temp_on %}
                    {% if case_study.weather.temp_on %}
                    {% if case_study.weather.temperature.method == "RECLASS" %}
                    <p>(Method: Reclass)</p>
                    {% else %}
                    <p>(Method: Polynomial)</p>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="row no-gutters align-items-center">
                    {% include "pops/toggle_switch_disabled.html" with label="Precipitation" check_if_true=case_study.weather.precipitation_on %}
                    {% if case_study.weather.precipitation_on %}
                    {% if case_study.weather.precipitation.method == "RECLASS" %}
                    <p>(Method: Reclass)</p>
                    {% else %}
                    <p>(Method: Polynomial)</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>

<style type="text/css" media="screen">
    .table-wrapper-scroll-y {
        display: block;
        max-height: 10em;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .bodycontainer { max-height: 100px; width: 100%; margin: 0; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;}
    .table-scrollable { margin: 0; padding: 0; }
</style>

{% if case_study.weather.temp_on %}
<div class="panel-container">
    {% if case_study.weather.temperature.method == "RECLASS" %}

    <div class="row justify-content-center">
        <div class="col">
            <h5>Temperature reclass</h5>
            <div class="px-4">
                <small class="text-secondary">Any values not specified in the reclass table will be reclassed to zero
                    (shown
                    in <span class="text-danger">red</span> in the figure below).</small>
            </div>
        </div>
        <div class="col-6">
            <table class="table table-sm table-dark table-scrollable text-center ">
                <thead>
                    <th width="30%">Min (&#8451)</th>
                    <th width="30%">Max (&#8451)</th>
                    <th width="35%">Reclass</th>
                </thead>
            </table>

            <div class="bodycontainer">
                <table class="table table-scrollable table-hover table-dark table-sm table-bordered text-right ">
                    <tbody>
                        {% for row in case_study.weather.temperature.temperaturereclass_set.all %}
                        <tr>
                            <td class="pr-3" width="33%">{{ row.min_value}}</td>
                            <td class="pr-3" width="33%"> {{row.max_value}}</td>
                            <td class="pr-3" width="33%"> {{row.reclass}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 mt-2">
            <div id="temp_reclass_plot" style="max-height:400px;">
            </div>
        </div>
    </div>
    {% endif %}
    {% if case_study.weather.temperature.method == "POLYNOMIAL" %}
    <div class="row ">
        <div class="col">
        <h5>Temperature polynomial</h5>
        </div>
        {% if case_study.weather.temperature.temperaturepolynomial.degree == 1 %}
        <div class="col">
            <div>Coefficient = {{ case_study.weather.temperature.temperaturepolynomial.a0 }} </div>
            <div class="offset-2">+ {{ case_study.weather.temperature.temperaturepolynomial.a1 }}
                (P+{{ case_study.weather.temperature.temperaturepolynomial.x1 }}) </div>
        </div>
        {% elif case_study.weather.temperature.temperaturepolynomial.degree == 2 %}
        <div class="col-12">
            Coefficient = {{ case_study.weather.temperature.temperaturepolynomial.a0 }} 
            + {{ case_study.weather.temperature.temperaturepolynomial.a1 }}
                (P+{{ case_study.weather.temperature.temperaturepolynomial.x1 }})
            + {{ case_study.weather.temperature.temperaturepolynomial.a2 }}
                (P+{{ case_study.weather.temperature.temperaturepolynomial.x2 }})<sup>2</sup>
        </div>
        {% else %}
        <div class="">
            <div>Coefficient = {{ case_study.weather.temperature.temperaturepolynomial.a0 }} </div>
            <div class="offset-2">+ {{ case_study.weather.temperature.temperaturepolynomial.a1 }}
                (P+{{ case_study.weather.temperature.temperaturepolynomial.x1 }}) </div>
            <div class="offset-2">+ {{ case_study.weather.temperature.temperaturepolynomial.a2 }}
                (P+{{ case_study.weather.temperature.temperaturepolynomial.x2 }})<sup>2</sup></div>
            <div class="offset-2">+ {{ case_study.weather.temperature.temperaturepolynomial.a3 }}
                (P+{{ case_study.weather.temperature.temperaturepolynomial.x3 }})<sup>3</sup></div>
        </div>
        {% endif %}
    </div>
    {% endif %}
            <div class="col-12 mt-2">
            <div id="temp_polynomial_plot" style="max-height:400px;">
            </div>
        </div>

</div>

{% endif %}

            {% if case_study.weather.precipitation_on %}
            <div class="panel-container">
                <div class="row">
                    <div class="col-5">
                        {% if case_study.weather.precipitation.method == "RECLASS" %}
                        <h5>Precipitation reclass</h5>
                        <table class="table table-hover table-dark table-sm table-bordered">
                            <thead>
                                <th>Min (mm)</th>
                                <th>Max (mm)</th>
                                <th>Reclass</th>
                            </thead>
                            <tbody>
                                {% for row in case_study.weather.precipitation.precipitationreclass_set.all %}
                                <tr>
                                    <td>{{ row.min_value}}</td>
                                    <td> {{row.max_value}}</td>
                                    <td> {{row.reclass}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        {% if case_study.weather.precipitation.method == "POLYNOMIAL" %}
                        <h5>Precipitation polynomial</h5>
                        {% if case_study.weather.precipitation.precipitationpolynomial.degree == 1 %}
                        <div class="">
                            <div>Coefficient = {{ case_study.weather.precipitation.precipitationpolynomial.a0 }} </div>
                            <div class="offset-2">+ {{ case_study.weather.precipitation.precipitationpolynomial.a1 }}
                            (P+{{ case_study.weather.precipitation.precipitationpolynomial.x1 }}) </div>
                        </div>
                        {% elif case_study.weather.precipitation.precipitationpolynomial.degree == 2 %}
                        <div class="">
                            <div>Coefficient = {{ case_study.weather.precipitation.precipitationpolynomial.a0 }} </div>
                            <div class="offset-2">+ {{ case_study.weather.precipitation.precipitationpolynomial.a1 }}
                            (P+{{ case_study.weather.precipitation.precipitationpolynomial.x1 }}) </div>
                            <div class="offset-2">+ {{ case_study.weather.precipitation.precipitationpolynomial.a2 }}
                            (P+{{ case_study.weather.precipitation.precipitationpolynomial.x2 }})<sup>2</sup></div>
                        </div>
                        {% else %}
                        <div class="">
                            <div>Coefficient = {{ case_study.weather.precipitation.precipitationpolynomial.a0 }} </div>
                            <div class="offset-2">+ {{ case_study.weather.precipitation.precipitationpolynomial.a1 }}
                            (P+{{ case_study.weather.precipitation.precipitationpolynomial.x1 }}) </div>
                            <div class="offset-2">+ {{ case_study.weather.precipitation.precipitationpolynomial.a2 }}
                            (P+{{ case_study.weather.precipitation.precipitationpolynomial.x2 }})<sup>2</sup></div>
                            <div class="offset-2">+ {{ case_study.weather.precipitation.precipitationpolynomial.a3 }}
                            (P+{{ case_study.weather.precipitation.precipitationpolynomial.x3 }})<sup>3</sup></div>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-7">
                        <h5>Plot preview:</h5>
                        <div id="precip_plot" style="width:300px;height:300px;">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row justify-content-end pb-4">
                <div class="col-auto">
                    <div class="d-inline text-center p-2">
                        <a class="btn btn-secondary btn-lg" href="#" role="button">Edit</a>                
                    </div>
                    <div class="d-inline text-center p-2">
                        <button class="btn btn-info btn-lg" type="submit">Calibrate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script>

var data = [];
{% for row in case_study.weather.temperature.temperaturereclass_set.all %}
{% if forloop.first %}
 var trace = {
  x: [-50, {{row.min_value}}],
  y: [0,0],
  mode: 'lines+markers',
  type: 'scatter',
  marker: {
        size: 8,
        color: 'red',
        line: {
            width: 1,
            color:'red',
        }
    },
line: {
    color:'red',
    width: 2,
},
};
data.push(trace);

{% endif %}
{% if forloop.last %}
 var trace = {
  x: [{{row.max_value}},50],
  y: [0,0],
  mode: 'lines+markers',
  type: 'scatter',
  marker: {
        size: 8,
        color: ['#16181b','red'],
        line: {
            width: 1,
            color:'red',
        }
    },
line: {
    color:'red',
    width: 2,
},
};
data.push(trace);
{% endif %}
 var trace = {
  x: [{{row.min_value}}, {{row.max_value}}],
  y: [{{row.reclass}},{{row.reclass}}],
  mode: 'lines+markers',
  type: 'scatter',
  marker: {
        size: 8,
        color: ['#16181b','cyan'],
        line: {
            width: 1,
            color:'cyan',
        }
    },
line: {
    color:'cyan',
    width: 2,
},

};
data.push(trace);
{% endfor %}

var axis_template={
    showgrid:true,
    zeroline:true,
    gridcolor: '#16181b',
    gridwidth: 1,
    zerolinecolor: '#969696',
    zerolinewidth: 2,
    //linecolor: 'black',
    //mirror: true,
    //linewidth: 1,
    nticks:20,
    titlefont: {
      family: 'Arial, sans-serif',
      size: 14,
      color: '#909294'
    },
    showticklabels: true,
    tickangle: 'auto',
    tickfont: {
      family: 'Arial, sans-serif',
      size: 12,
      color: '#909294'
    },
 
};
var xaxis ={title: 'Temperature (&deg;C)', range: [-51, 51]};
var yaxis={title: 'Reclass', range: [-0.02, 1.02]};
var layout={
    showlegend:false,
    paper_bgcolor:'rgba(0,0,0,0)',
    plot_bgcolor:'rgba(0,0,0,0)',//'#16181b',
    margin: {
        l: 50,
        r: 20,
        b: 40,
        t: 50,
        pad: 4
    },
    title: {
    text:'Reclass preview:',
    font: {
      family: 'Arial, sans-serif',
      color:'white',
      size: 20
    },
    xref: 'paper',
    x: 0,
    },
    xaxis: $.extend({}, axis_template, xaxis),
    yaxis: $.extend({}, axis_template, yaxis),
};

Plotly.newPlot('temp_reclass_plot', data, layout, {responsive: true});




</script>
{% endblock %}