{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load filename %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/create_case_study_styles.css' %}">
<script src="{% static 'js/case_study/form_visibility.js' %}"></script>
<script src="{% static 'js/case_study/jquery.formset.js' %}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static 'js/case_study/review_plots.js' %}"></script>

<script>
function temp_poly_plot() {
    var a0 = document.getElementById("id_temperature_polynomial-a0").value;
    var a1 = document.getElementById("id_temperature_polynomial-a1").value;
    var x1 = document.getElementById("id_temperature_polynomial-x1").value;
    var a2 = document.getElementById("id_temperature_polynomial-a2").value;
    var x2 = document.getElementById("id_temperature_polynomial-x2").value;
    var a3 = document.getElementById("id_temperature_polynomial-a3").value;
    var x3 = document.getElementById("id_temperature_polynomial-x3").value;
      if ($('#{{ temperature_polynomial_form.degree.0.id_for_label }}').is(':checked')){
        a2 = 0;
        x2 = 0;
        a3 = 0;
        x3 = 0;
      }
      if ($('#{{ temperature_polynomial_form.degree.1.id_for_label }}').is(':checked')){
        a3 = 0;
        x3 = 0;
      }
    return polynomial_plot(div_id="temp_polynomial_plot",x_range=[-50,50],x_label='Temperature (C)',a0=Number(a0),a1=Number(a1),x1=Number(x1),a2=Number(a2),x2=Number(x2),a3=Number(a3),x3=Number(x3));
}

function precip_poly_plot() {
    var a0 = document.getElementById("id_precipitation_polynomial-a0").value;
    var a1 = document.getElementById("id_precipitation_polynomial-a1").value;
    var x1 = document.getElementById("id_precipitation_polynomial-x1").value;
    var a2 = document.getElementById("id_precipitation_polynomial-a2").value;
    var x2 = document.getElementById("id_precipitation_polynomial-x2").value;
    var a3 = document.getElementById("id_precipitation_polynomial-a3").value;
    var x3 = document.getElementById("id_precipitation_polynomial-x3").value;
      if ($('#{{ precipitation_polynomial_form.degree.0.id_for_label }}').is(':checked')){
        a2 = 0;
        x2 = 0;
        a3 = 0;
        x3 = 0;
      }
      if ($('#{{ precipitation_polynomial_form.degree.1.id_for_label }}').is(':checked')){
        a3 = 0;
        x3 = 0;
      }
    return polynomial_plot(div_id="precip_polynomial_plot",x_range=[0,100],x_label='Precipitation (mm)',a0=Number(a0),a1=Number(a1),x1=Number(x1),a2=Number(a2),x2=Number(x2),a3=Number(a3),x3=Number(x3));
}


function temp_reclass_plot() {
  var data = [];
  var x_range=[-50, 50];
  var x_label='Temperature (&deg;C)';
  rows = $("#temp_reclass_form_visibility").children("div.temp_reclass");
  var min_field =0;
  var max_field = 0;
  var reclass_field = 0;
  var smallest_min_value = x_range[1];
  var largest_max_value = x_range[0];
  var reclass_value = 0;
  for (i = 0; i < rows.length; i++) {
    values = $(rows[i]).children("div").children("input");
    if (values.is(':visible')) {
      min_field = values[0];
      max_field = values[1];
      reclass_field = values[2];
      min_value = min_field.value;
      if (min_value != '' && min_value < smallest_min_value) {
        smallest_min_value = min_value;
      }
      max_value = max_field.value;
      if (max_value != '' && max_value > largest_max_value) {
        largest_max_value = max_value;
      }
      reclass_value = reclass_field.value;
      if (max_value < min_value) {
        $(min_field).css("background-color", "yellow");
        $(max_field).css("background-color", "yellow");
      } else {
        $(min_field).css("background-color", "white");
        $(max_field).css("background-color", "white");
      }
      if (reclass_value > 1 || reclass_value < 0) {
        $(reclass_field).css("background-color", "yellow");
      } else {
        $(reclass_field).css("background-color", "white");
      }
      if (min_value && max_value && reclass_value) {
        trace = reclass_plot(min = min_value, max = max_value, reclass = reclass_value, color = 'cyan');
        data.push(trace);
      }
    } else {}
  }
      trace=reclass_plot(min=x_range[0],max=smallest_min_value,reclass=0,color='red');  
      data.push(trace);
      trace=reclass_plot(min=largest_max_value,max=x_range[1],reclass=0,color='red');  
      data.push(trace);
    var layout = dark_layout(x_label=x_label,x_range=[x_range[0]-1,x_range[1]+1])
    return Plotly.newPlot('temp_reclass_plot', data, layout, {responsive: true});}

function precip_reclass_plot() {
  var data = [];
  var x_range=[0, 100];
  var x_label='Precipitation (mm)';
  rows = $("#precip_reclass_form_visibility").children("div.precip_reclass");
  var min_field =0;
  var max_field = 0;
  var reclass_field = 0;
  var smallest_min_value = x_range[1];
  var largest_max_value = x_range[0];
  var reclass_value = 0;
  for (i = 0; i < rows.length; i++) {
    values = $(rows[i]).children("div").children("input");
    if (values.is(':visible')) {
      min_field = values[0];
      max_field = values[1];
      reclass_field = values[2];
      min_value = min_field.value;
      if (min_value != '' && min_value < smallest_min_value) {
        smallest_min_value = min_value;
      }
      max_value = max_field.value;
      if (max_value != '' && max_value > largest_max_value) {
        largest_max_value = max_value;
      }
      reclass_value = reclass_field.value;
      if (max_value < min_value) {
        $(min_field).css("background-color", "yellow");
        $(max_field).css("background-color", "yellow");
      } else {
        $(min_field).css("background-color", "white");
        $(max_field).css("background-color", "white");
      }
      if (reclass_value > 1 || reclass_value < 0) {
        $(reclass_field).css("background-color", "yellow");
      } else {
        $(reclass_field).css("background-color", "white");
      }
      if (min_value && max_value && reclass_value) {
        trace = reclass_plot(min = min_value, max = max_value, reclass = reclass_value, color = 'cyan');
        data.push(trace);
      }
    } else {}
  }
      trace=reclass_plot(min=x_range[0],max=smallest_min_value,reclass=0,color='red');  
      data.push(trace);
      trace=reclass_plot(min=largest_max_value,max=x_range[1],reclass=0,color='red');  
      data.push(trace);
    var layout = dark_layout(x_label=x_label,x_range=[x_range[0]-1,x_range[1]+1])
    return Plotly.newPlot('precip_reclass_plot', data, layout, {responsive: true});}
</script>
{% endblock %}

{% block content %}

<div class="container py-4">
  <!--Page title-->
  <h2 class="text-center">Create Case Study</h2>
  <!--Start of form-->
  <form method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <!--Announcement at top of page-->
        <div class="alert alert-info">
          <p>
            <strong>Welcome to the create case study page!</strong> Please be sure to read the
            <a class="" href="{% url 'case_study_help' %}">Case Study Help page</a> before getting started.
          </p>
        </div>

        <!--Warning message that there were errors in the form-->
        {% if error_message %}
        <div class="alert alert-danger text-center" role="alert">
          <strong>Please correct the errors below!</strong>
          <p>Note! For security reasons, you must also reselect any files to upload.</p>
        </div>
        {% endif %}
        <!--CSRF Token-->
        {% csrf_token %}

        <!--Case study form section-->
        <div class="border border-light p-2 my-1">
          <div class="">
            <legend>Case study details</legend>
          </div>
          <!--Most of case study form (defined in Crispy Layout in forms.py)-->
          {% for hidden in case_study_form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
          {{ case_study.non_field_errors }}
          {% include "pops/include/form_field.html" with field=case_study_form.name %}
          {% include "pops/include/form_field.html" with field=case_study_form.description|attr:"rows:5" %}
          <div class="row">
            {% include "pops/include/form_field.html" with field=case_study_form.start_year form_class="col-6" %}
            {% include "pops/include/form_field.html" with field=case_study_form.end_year form_class="col-6" %}
          </div>
          <div class="row">
            {% include "pops/include/form_field.html" with field=case_study_form.future_years form_class="col-6" %}
            {% include "pops/include/form_field.html" with field=case_study_form.time_step form_class="col-6" %}
          </div>
          <div class="row">
            {% include "pops/include/form_field.html" with field=case_study_form.number_of_pests form_class="col-6" %}
            {% include "pops/include/form_field.html" with field=case_study_form.number_of_hosts form_class="col-6" %}
          </div>
            {% include "pops/include/form_file_upload_field.html" with form=all_plants_data_form field=all_plants_data_form.user_file|attr:"class:form-control-file" form_class="" current_value=all_plants_data %}
        </div>
        <!--Host details form section-->
        <div class="border border-light p-2 my-1">
          <div class="">
            <legend>Host details</legend>
          </div>
          {% for hidden in host_form.hidden_fields %}
          {{ hidden }}
          {% endfor %}

          <div class="row">
            {% include "pops/include/form_field.html" with field=host_form.name form_class="col-6" %}
            {% include "pops/include/form_field.html" with field=host_form.score form_class="col-6" %}
          </div>
          {% include "pops/include/form_file_upload_field.html" with form=host_data_form field=host_data_form.user_file|attr:"class:form-control-file" current_value=host_data %}
          {% include "pops/include/toggle_switch.html" with field=host_form.mortality_on %}

          <div id="mortality_form_visibility">
            {% include "pops/include/radio_method_form.html" with field=mortality_form.method %}
            {% for hidden in mortality_form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <div id="mortality_file_visibility">
              {% include "pops/include/form_file_upload_field.html" with form=mortality_form field=mortality_form.user_file|attr:"class:form-control-file" current_value=mortality_data %}
            </div>
            <div id="mortality_user_input_visibility">
              <div class="row">
                {% include "pops/include/form_field.html" with field=mortality_form.rate form_class="col-6"%}
                {% include "pops/include/form_field.html" with field=mortality_form.time_lag append="years" form_class="col-6"%}
              </div>
            </div>
          </div><!--End mortality section-->
          <!--Mortality visibility javascript (hides treatment form based on toggle)-->
          <script>
            toggleVisibilityOnOff('#{{ host_form.mortality_on.id_for_label }}','#mortality_form_visibility')
            $(document).ready(function () {
              $('input').on('click',function () {
              toggleVisibilityOnOff('#{{ host_form.mortality_on.id_for_label }}','#mortality_form_visibility')
              })
            });
          </script>     
          <!--Mortality visibility javascript (hides treatment form based on toggle)-->
          <script>
            toggleVisibilityOnOff('#{{ mortality_form.method.0.id_for_label }}','#mortality_file_visibility')
            toggleVisibilityOnOff('#{{ mortality_form.method.1.id_for_label }}','#mortality_user_input_visibility')
            $(document).ready(function () {
              $('input').on('click',function () {
              toggleVisibilityOnOff('#{{ mortality_form.method.0.id_for_label }}','#mortality_file_visibility')
              toggleVisibilityOnOff('#{{ mortality_form.method.1.id_for_label }}','#mortality_user_input_visibility')
              })
            });
          </script>     
        </div> <!--End host section-->

        <!--Pest details form section-->
        <div class="border border-light p-2 my-1">
          <div class="">
            <legend>Pest details</legend>
          </div>
          {% for hidden in pest_form.hidden_fields %}
          {{ hidden }}
          {% endfor %}

          <div class="row">
            {% include "pops/include/form_field.html" with field=pest_form.pest_information form_class="col-6" %}
            {% include "pops/include/form_field.html" with field=pest_form.name form_class="col-6" %}
          </div>
          <div class="row">
            {% include "pops/include/form_field.html" with field=pest_form.model_type form_class="col-6" %}
            {% include "pops/include/form_field.html" with field=pest_form.dispersal_type form_class="col-6"%}
          </div>
            {% include "pops/include/form_file_upload_field.html" with form=initial_infestation_form field=initial_infestation_form.user_file|attr:"class:form-control-file" form_class="" current_value=infestation_data %}
          {% include "pops/include/toggle_switch.html" with field=pest_form.vector_born %}

          {% for hidden in vector_form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
          <div id="vector_form_visibility">
            <div class="row">
              {% include "pops/include/form_field.html" with field=vector_form.common_name form_class="col-6"%}
              {% include "pops/include/form_field.html" with field=vector_form.scientific_name form_class="col-6"%}
            </div>
            {% include "pops/include/form_file_upload_field.html" with form=vector_form field=vector_form.user_file|attr:"class:form-control-file" current_value=vector_data %}
          </div>
          {% include "pops/include/toggle_switch.html" with field=pest_form.use_treatment %}

          <div id="treatment_form_visibility">
            {% include "pops/include/form_file_upload_field.html" with form=prior_treatment_form field=prior_treatment_form.user_file|attr:"class:form-control-file" current_value=treatment_data %}
          </div>
          <!--Treatment visibility javascript (hides treatment form based on toggle)-->
          <script>
            toggleVisibilityOnOff('#{{ pest_form.use_treatment.id_for_label }}','#treatment_form_visibility')
            $(document).ready(function () {
              $('input').on('click',function () {
              toggleVisibilityOnOff('#{{ pest_form.use_treatment.id_for_label }}','#treatment_form_visibility')
              })
            });
          </script>     

        </div>
          <!--Vector visibility javascript (hides form based on toggle)-->
          <script>
            toggleVisibilityOnOff('#{{ pest_form.vector_born.id_for_label }}','#vector_form_visibility')
            $(document).ready(function () {
              $('input').on('click',function () {
              toggleVisibilityOnOff('#{{ pest_form.vector_born.id_for_label }}','#vector_form_visibility')
              })
            });
          </script>     

        <div class="border border-light p-2 my-1">
          <div class="">
            <legend>Weather details</legend>
          </div>
          {% for hidden in weather_form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
          
          {% include "pops/include/toggle_switch.html" with field=weather_form.wind_on %}
          <div id="wind_form_visibility" class="row">
            {% include "pops/include/form_field.html" with field=wind_form.wind_direction form_class="col-6"%}
            {% include "pops/include/form_field.html" with field=wind_form.kappa form_class="col-6"%}
          </div>
          <!--Wind visibility javascript (hides form based on toggle)-->
          <script>
            toggleVisibilityOnOff('#{{ weather_form.wind_on.id_for_label }}','#wind_form_visibility')
            $(document).ready(function () {
              $('input').on('click',function () {
              toggleVisibilityOnOff('#{{ weather_form.wind_on.id_for_label }}','#wind_form_visibility')
              })
            });
          </script>     

          {% include "pops/include/toggle_switch.html" with field=weather_form.seasonality_on %}
          <div id="seasonality_form_visibility" class="row">
            {% include "pops/include/form_field.html" with field=seasonality_form.first_month form_class="col-6"%}
            {% include "pops/include/form_field.html" with field=seasonality_form.last_month form_class="col-6"%}
          </div>
          <!--Seasonality visibility javascript (hides form based on toggle)-->
          <script>
            toggleVisibilityOnOff('#{{ weather_form.seasonality_on.id_for_label }}','#seasonality_form_visibility')
            $(document).ready(function () {
              $('input').on('click',function () {
              toggleVisibilityOnOff('#{{ weather_form.seasonality_on.id_for_label }}','#seasonality_form_visibility')
              })
            });
          </script>     

          {% include "pops/include/toggle_switch.html" with field=weather_form.lethal_temp_on %}
          <div id="lethal_temp_form_visiblity">
            {% include "pops/include/radio_method_form.html" with field=lethal_temp_form.lethal_type %}
            <div class="row">
              {% include "pops/include/form_field.html" with field=lethal_temp_form.value append="&#8451" form_class="col-4"%}
              {% include "pops/include/form_field.html" with field=lethal_temp_form.month form_class="col-8"%}
            </div>
          </div>
          <!--Lethal temp visibility javascript (hides form based on toggle)-->
          <script>
            toggleVisibilityOnOff('#{{ weather_form.lethal_temp_on.id_for_label }}','#lethal_temp_form_visiblity')
            $(document).ready(function () {
              $('input').on('click',function () {
              toggleVisibilityOnOff('#{{ weather_form.lethal_temp_on.id_for_label }}','#lethal_temp_form_visiblity')
              })
            });
          </script>     
          
          {% include "pops/include/toggle_switch.html" with field=weather_form.temp_on %}

          <div id="temp_form_visibility">
            {% include "pops/include/radio_method_form.html" with field=temperature_form.method %}

            <div class="px-3" id="temp_reclass_form_visibility">
              {% for error in temperature_reclass_formset.non_form_errors %}
              <div class=" text-danger pt-0" style="font-size:0.8em">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              {{ temperature_reclass_formset.management_form }}
              <div class="row">
                <div class="col-3 px-1 pl-2"><strong>Min (&#8451)</strong></div>
                <div class="col-3 px-1"><strong>Max (&#8451)</strong></div>
                <div class="col-3 px-1"><strong>Coefficient</strong></div>
              </div>
              {% include "pops/include/reclass_formset.html" with formset=temperature_reclass_formset %}

            <div id="temp_reclass_plot" style="max-height:300px; "></div>
            </div>
            <div class="p-1" id="temp_polynomial_form_visibility">
              {% include "pops/include/polynomial_form.html" with equation_variable="T" form=temperature_polynomial_form %}
            <div id="temp_polynomial_plot" style="max-height:300px; "></div>
            </div>
          </div>
          <!--Temperature visibility javascript (hides form based on toggle)-->
          <script>
          // Dynamically add and remove form rows from reclass
            $('div.{{ temperature_reclass_formset.prefix }}').formset({
              prefix: '{{ temperature_reclass_formset.prefix }}',
              addText: 'Add reclass row',
              deleteText: 'remove',
              addCssClass: 'btn btn-secondary',
              deleteCssClass: 'text-light'
            });
            //Initial plots on page load
            $(temp_reclass_plot());
            $(temp_poly_plot());
            //Toggle visibility
            toggleVisibilityOnOff('#{{ weather_form.temp_on.id_for_label }}','#temp_form_visibility')
            $(document).ready(function () {
              $('input').on('click',function () {
              toggleVisibilityOnOff('#{{ weather_form.temp_on.id_for_label }}','#temp_form_visibility')
              })
            });
            toggleVisibilityOnOff('#{{ temperature_form.method.0.id_for_label }}','#temp_reclass_form_visibility')
            toggleVisibilityOnOff('#{{ temperature_form.method.1.id_for_label }}','#temp_polynomial_form_visibility')
            $(document).ready(function () {
              $('input').on('click',function () {
              toggleVisibilityOnOff('#{{ temperature_form.method.0.id_for_label }}','#temp_reclass_form_visibility')
              toggleVisibilityOnOff('#{{ temperature_form.method.1.id_for_label }}','#temp_polynomial_form_visibility')
              })
            });
          </script>            
          {% include "pops/include/toggle_switch.html" with field=weather_form.precipitation_on %}
          <!--Precipitation Form-->
          <div id="precip_form_visibility">
            {% include "pops/include/radio_method_form.html" with field=precipitation_form.method %}

            <div class="px-3" id="precip_reclass_form_visibility">
              {% for error in precipitation_reclass_formset.non_form_errors %}
              <div class=" text-danger pt-0" style="font-size:0.8em">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              {{ precipitation_reclass_formset.management_form }}
              <div class="row">
                <div class="col-3 px-1 pl-2"><strong>Min (mm)</strong></div>
                <div class="col-3 px-1"><strong>Max (mm)</strong></div>
                <div class="col-3 px-1"><strong>Coefficient</strong></div>
              </div>
              {% include "pops/include/reclass_formset.html" with formset=precipitation_reclass_formset %}
            <div id="precip_reclass_plot" style="max-height:300px; "></div>
            </div>
            </div>
            <div class="p-1" id="precip_polynomial_form_visibility">
              {% include "pops/include/polynomial_form.html" with equation_variable="P" form=precipitation_polynomial_form %}
            <div id="precip_polynomial_plot" style="max-height:300px; "></div>
            </div>
          </div>
          <!--Precipitation visibility javascript (hides form based on toggle)-->
          <script>
          // Dynamically add and remove form rows from reclass
            $('div.{{ precipitation_reclass_formset.prefix }}').formset({
              prefix: '{{ precipitation_reclass_formset.prefix }}',
              addText: 'Add reclass row',
              deleteText: 'remove',
              addCssClass: 'btn btn-secondary',
              deleteCssClass: 'text-light'
            });
            //Initital plots
            $(precip_reclass_plot());
            $(precip_poly_plot());
            //toggle visibility
            toggleVisibilityOnOff('#{{ weather_form.precipitation_on.id_for_label }}','#precip_form_visibility')
            $(document).ready(function () {
              $('input').on('click',function () {
              toggleVisibilityOnOff('#{{ weather_form.precipitation_on.id_for_label }}','#precip_form_visibility')
              })
            });
            toggleVisibilityOnOff('#{{ precipitation_form.method.0.id_for_label }}','#precip_reclass_form_visibility')
            toggleVisibilityOnOff('#{{ precipitation_form.method.1.id_for_label }}','#precip_polynomial_form_visibility')
            $(document).ready(function () {
              $('input').on('click',function () {
              toggleVisibilityOnOff('#{{ precipitation_form.method.0.id_for_label }}','#precip_reclass_form_visibility')
              toggleVisibilityOnOff('#{{ precipitation_form.method.1.id_for_label }}','#precip_polynomial_form_visibility')
              })
            });

          </script>  
          <!--Submit button for form-->
          <div class="text-center py-2">
            <button class="btn btn-info btn-lg" type="submit">Next</button>
          </div>
          <div class="text-center">
            <span>Note: You will be able to review your case study on the next page before submitting for calibration.</span>
          </div>
        </div>
      </div>
  </form>
  <!--End form-->
</div>
<!--End main container-->

<!--Script to make tooltips appear on hover-->

<script>
  $(document).ready(function () {
    $("body").tooltip({
      selector: '[data-toggle=tooltip]'
    });
  });



</script>
{% endblock %}

{% block scripts %}
<script>
//Dynamically update Preview Plots
$("div#temp_reclass_form_visibility *").click(function(){
  $(temp_reclass_plot());
});
$("div#temp_reclass_form_visibility input").blur(function(){
  $(temp_reclass_plot());
});

$("div#temp_polynomial_form_visibility input").blur(function(){
  $(temp_poly_plot());
});
$("div#precip_reclass_form_visibility *").click(function(){
  $(precip_reclass_plot());
});
$("div#precip_reclass_form_visibility input").blur(function(){
  $(precip_reclass_plot());
});
$("div#precip_polynomial_form_visibility input").blur(function(){
  $(precip_poly_plot());
});



</script>
{% endblock %}