{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
  {% block jquery_source %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  {% endblock %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
  <link rel="stylesheet" href="{% static 'css/new_session.css' %}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
<div id="page-content" class="container-fluid">
  <!--Page title-->
  <div id="header" class="row text-center" style="background-color:transparent;">
    <div class="col">
      <h1>Create new session</h1>
    </div>
  </div>      
  <!--Start of form-->
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
      <form id="submit-session" submit-session-url="{% url 'save_session_data' %}" method="post">{% csrf_token %} 
      <div class="row">
            {% include "pops/include/form_field.html" with field=form.case_study form_class="col-12 dark_input" %} 
            {% include "pops/include/form_field.html" with field=form.name form_class="col-12 dark_input" %}
            {% include "pops/include/form_field.html" with field=form.description form_class="col-12 dark_input" %} 
            <!-- Final forecast date-->
            <div class="form-group col-6 dark_input">
              <label for="{{ form.final_date.id_for_label }}">{{ form.final_date.label }}</label>
              <div class="input-group ">
                <input class="form-control dark_input" type="date" value="{{ case_study.last_forecast_date|date:'Y-m-d' }}"
                  data-toggle="tooltip" data-placement="top" title="What is the last date to run simulations?" required
                  id="id_final_date" min="{{ case_study.first_forecast_date|date:'Y-m-d' }}"
                  max="{{ case_study.last_forecast_date|date:'Y-m-d' }}">
              </div>
              {% for error in form.final_date.errors %}
              <div class=" text-danger pt-0" style="font-size:0.8em">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
            </div>
            {% include "pops/include/form_field.html" with field=form.weather form_class="col-6 dark_input" %} 
            {% include "pops/include/form_field.html" with field=form.reproductive_rate form_class="col-6 dark_input" %} 
            {% include "pops/include/form_field.html" with field=form.distance_scale form_class="col-6 dark_input" %} 
            {% include "pops/include/form_field.html" with field=form.public form_class="col-12 dark_input" %} 
            {{ distance_scale.values }}
            
{% for d in distance_scale.values %}
  {{ d }},
{% endfor %}


</div>

{% comment %} <div class="row px-3">
            <div id="reproductive-rate-container" class="col-sm-6 parameter-selector-plot pt-2">
                      <div class="py-0">Max number of dispersers: <output id="displayRate">{{ expected_reproductive_rate.value }}</output></div>
                      <div id="reproductive_rate_plot" style="height:100px; width:250px;"></div>
                      <div id="reproductive-rate-slider" class="pt-0 range range-info text-light" style="width:200px; margin-left:30px;"
                      data-toggle="tooltip" data-placement="right"
                      title="Update the max number of dispersers.">
                        <input id="id_reproductive_rate" style="" class="custom-range " type="range"
                          name="reproductive_rate" min="{{ min_reproductive_rate.value }}" max="{{ max_reproductive_rate.value }}" step="0.1" value="{{ expected_reproductive_rate.value }}"
                          onchange="displayRate.value=value">
                      </div>
                    </div>
                    <div id="dispersal-scale-container" class="col-sm-6 parameter-selector-plot pt-2">
                      <div class="py-0">Dispersal scale: <output id="displayDispersalScale">{{ expected_distance.value }}</output> meters</div>
                      <div id="dispersal_scale_plot" style="height:100px; width:250px;"></div>
                      <div id="dispersal-scale-slider" class="pt-0 range range-info" style="height: 3px; width:200px; margin-left:30px;"
                      data-toggle="tooltip" data-placement="right"
                      title="Update the dispersal scale.">
                        <input id="id_distance_scale" style="" class="custom-range " type="range" name="distance_scale"
                          min="{{ min_distance.value }}" max="{{ max_distance.value }}" step="1" value="{{ expected_distance.value }}" 
                          onchange="displayDispersalScale.value=value">
                      </div>
                    </div>
</div>
            {% include "pops/include/form_field.html" with field=form.final_year form_class="col-12 dark_input" %}
            {% include "pops/include/form_field.html" with field=form.management_month form_class="col-12 dark_input" %}
            {% include "pops/include/form_field.html" with field=form.weather form_class="col-12 dark_input" %}
          <div class="text-center py-2">
            <button id="submit-session-button" class="btn btn-info btn-lg" type="submit">Create New Session</button>
            <div class="text-muted py-4">After your session is created, you will be redirected to the PoPS dashboard.</div>
          </div>          
          </form>

</div>

      </div> {% endcomment %}
                <div class="text-center py-2">
            <button id="submit-session-button" class="btn btn-info btn-lg" type="submit">Create New Session</button>
            <div class="text-muted py-4">After your session is created, you will be redirected to the PoPS dashboard.</div>
          </div>    
      </form>





                  <div class="modal fade" id="session_creation_status" tabindex="-1" role="dialog" aria-labelledby="editInputParameters"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                        <div class="row">
                        <div class="col-12 text-center">
                          <h5 class="modal-title" id="exampleModalLongTitle">Creating PoPS Session</h5>
                          </div>
                          <div class="col-12 text-center">
                        <div class="text-muted"><i class="fas fa-mug-hot"></i> Go grab a cup of coffee. This may take a few minutes...</div>
                        </div>
                        </div>
                        </div>
                        <div class="modal-body">

                          <div id="status-indicator" class="text-center">
                            <div id="status-logo">
                              <img class="rounded-circle"
                                src="{% static 'images/PoPS_AnimatedLogo_TransparentBackground.gif' %}"
                                alt="Generic placeholder image" width="180">
                            </div>
                            <div id="status-text">
                              <span>Loading...</span>
                            </div>
                          <button id="modal_close_button" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

</div>
{% endblock %}
{% block scripts %}
<script>

$("#modal_close_button").hide();

function findMax(arr) {
  let max = arr[0];

  for (let i = 1, len=arr.length; i < len; i++) {
    let v = arr[i];
    max = (v > max) ? v : max;
  }

  return [max];
}


function parameter_plot(myDiv, title, x, y, selector_x, color, error_bar=true) {

  var x_values = x;
  var y_values = y;
  var selector_x = Number(selector_x);
  var index_value = x.indexOf(selector_x);

  var x_selected_value=x_values[index_value];
  var y_selected_value=y_values[index_value];
  var min_x=x_values[0];
  var max_x=x_values.slice(-1).pop();
  var max_y=Number(findMax(y_values));
        var trace1 = {
          x: x_values,
          y: y_values,
  mode: 'lines',
    type: 'scatter',
          line: {
            color: color
          },
          fill: 'tozeroy',
        };

        var trace2 = {
          x: [x_selected_value],
          y: [y_selected_value],
  mode: 'markers',
    type: 'scatter',
          marker: {
            color: 'white',
            size:'10',
          },
        };

      var data = [trace1, trace2];



      var layout = {

        xaxis: {
          range: [(min_x-(max_x - min_x)/20), (max_x+(max_x - min_x)/20)],
          dtick: parseInt((max_x - min_x)/4),
          tickfont: {
            size: 12,
            color: 'rgb(107, 107, 107)'
          }
        },
        yaxis: {
          range: [-0.1, max_y+1.4],
          showticklabels: false,
          title: title,
          titlefont: {
            size: 12,
            color: 'grey',
          },

          tickfont: {
            size: 12,
            color: 'rgb(107, 107, 107)'
          }
        },
        showlegend: false,
        paper_bgcolor: '#212529',
        plot_bgcolor: 'rgba(0,0,0,0)', //'#16181b',
        margin: {
          l: 30,
          r: 20,
          b: 15,
          t: 10,
          pad: 0
        },
      };

      return Plotly.newPlot(myDiv, data, layout, {
        displayModeBar: false,
        responsive: true
      });
    };


var reproductive_rates = [
{% for rr in reproductive_rates %}
{% if forloop.last %}
{{ rr.value }}
{% else %}
{{ rr.value }},
{% endif %}
{% endfor %}
    ];
var reproductive_rate_probabilities = [
{% for rr in reproductive_rates %}
{% if forloop.last %}
{{ rr.probability }}
{% else %}
{{ rr.probability }},
{% endif %}
{% endfor %}
    ];
var reproductive_rate= {{ expected_reproductive_rate.value }};    
var dispersal_scales = [
{% for ds in distances %}
{% if forloop.last %}
{{ ds.value }}
{% else %}
{{ ds.value }},
{% endif %}
{% endfor %}
    ];
var dispersal_scale_probabilities = [
{% for ds in distances %}
{% if forloop.last %}
{{ ds.probability }}
{% else %}
{{ ds.probability }},
{% endif %}
{% endfor %}
    ];
var dispersal_scale= {{ expected_distance.value }};


    
  $(parameter_plot("reproductive_rate_plot", 'Probability', reproductive_rates, reproductive_rate_probabilities, reproductive_rate, '#2598b8', error_bar=false));
  $(parameter_plot("dispersal_scale_plot", 'Probability', dispersal_scales, dispersal_scale_probabilities, dispersal_scale, '#2598b8', error_bar=false));

$( "#dispersal-scale-container" ).click(function() {
        dispersal_scale = $(this).find('input').val();
      console.log("Distance scale is now: " + dispersal_scale);
          $(parameter_plot("dispersal_scale_plot", 'Probability', dispersal_scales, dispersal_scale_probabilities, dispersal_scale, '#2598b8', error_bar=false));
})
$( "#reproductive-rate-container" ).click(function() {
        reproductive_rate = $(this).find('input').val();
      console.log("Reproductive rate is now: " + reproductive_rate);
          $(parameter_plot("reproductive_rate_plot", 'Probability', reproductive_rates, reproductive_rate_probabilities, reproductive_rate, '#2598b8', error_bar=false));
})



function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
};

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    },
});

function poll(new_run_id, new_session_id) {
  console.log('Run id is:' + new_run_id);
  setTimeout(function () {
    $.ajax({
      url: "{% url 'check_status' %}",
      dataType: "json",
      data: {
        'new_run_id': new_run_id
      },
      success: function (data) {
        console.log("Status for run " + new_run_id + ": " + data.status);

        //Setup the next poll recursively
        if (data.status == "SUCCESS") {
          $('#status-text span').text('Success! Loading results...');
          var base_url = "{% url 'dashboard_root' %}"; //"https://pops-model-api.appspot.com/status?case_study_id=2&run_id=";//https://test-dot-pops-model-api.appspot.com/status?case_study_id=2&run_id=";
          var run_url = base_url.concat(new_session_id.toString());
          console.log(run_url);
          window.location.href = run_url; //!!may need to hardcode this in, or create a url for /dashboard without the PK, then combine with PK like I do for pops-model-api calls
        } else if (data.status == "FAILED") {
          $('#status-text span').text('RUN FAILED.');
          $("#status-logo").hide();
        } else if (data.status == "PENDING") {
            $('#status-text span').text('Pending...');
          poll(new_run_id, new_session_id);
        } else {
          $('#status-text span').text(data.status);
          poll(new_run_id, new_session_id);
        }
      },
      error : function(xhr,errmsg,err) {
      alert("An error has occured: " + xhr.status + "\nError: " + xhr.responseText 
      + "\nThere was a problem listening for the results of the model run... the simulation is most likely still running. Try refreshing the page in 1-2 minutes.");
          console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
    });
  }, 2000);
};

$("#submit-session").on('submit', function () {
  $("#modal_close_button").hide();
  $('#session_creation_status').modal('show');
  event.preventDefault();
  console.log("Submit session button pressed.") // sanity check
  $("#submit-session-button").attr("disabled", true);
  var form = $(this).closest("form");
  $('#status-text span').text('Sending session parameters to the database...');
  $.ajax({
    url: form.attr("submit-session-url"),
    data: form.serialize(),
    type: "POST", // http method
    success: function (data) {
      console.log('New session parameters successfully posted to database!');
      $('#status-text span').text('Session parameters saved to database...');
      var new_session_id = data.session_pk;
      var new_run_collection_id = data.run_collection_pk;
      var new_run_id = data.run_pk;
      var case_study_id = data.case_study_pk;
      console.log('Case study id: ' + case_study_id); 
      console.log('New session id: ' + new_session_id); 
      console.log('New run collection id: ' + new_run_collection_id); 
      console.log('New run id: ' + new_run_id); 
      var base_url = "https://pops-model-api.appspot.com/status?"
      //"https://pops-model-api.appspot.com/status?case_study_id=2&run_id="; //"https://pops-model-api.appspot.com/status?case_study_id=2&run_id=";//https://test-dot-pops-model-api.appspot.com/status?case_study_id=2&run_id=";
      var run_url = (base_url + "run_id=" + new_run_id.toString() + "&run_collection_id=" + new_run_collection_id.toString() + "&session_id=" + new_session_id.toString() + "&case_study_id=" + case_study_id.toString()); //base_url.concat(new_run_id.toString());
      console.log(run_url);
      $('#status-text span').text('Creating default PoPS model run for this session...');
      $.ajax({
        url: run_url,
        dataType: 'JSONP',
        type: 'GET',
        headers: {
          'Access-Control-Allow-Origin': 'https://pops-model-api.appspot.com'
        },
        statusCode: {
          404: function () {
            alert("PoPS Model API not found (404 error)... \n Please try again. \n If the problem persists, contact an admin.");
          },
          500: function () {
            alert("PoPS Model API returned 500 Error... \n Please try again. \n If the problem persists, contact an admin.");
          }
        },
        success: function (data) {
          console.log('Success signal from PoPS Model API.');
        },
        error: function (xhr, errmsg, err) {
          console.log('Received status from the PoPS model API:' + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
      });
      console.log('Sent run request to PoPS. Waiting for updates to database...')
      poll(new_run_id, new_session_id); 
    },
    // handle a non-successful response
    error: function (xhr, errmsg, err) {
      alert("An error has occured: " + xhr.status + "\nError: " + xhr.responseText +
        "\nIf the displayed error is not informative, the most likely issue is that there was a problem writing to the database.");
      console.log('There was an error writing to the database:' + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    $('#status-text span').text('Failed to create session. Session parameters could not be saved to PoPS database. Try again and then contact an admin.');
    $("#modal_close_button").show();
    }
  });
  $('#status-text span').text('Getting ready...');
  $("#status-indicator").show();
  $("#status-indicator-shading").show();
  $("button#cancel-polling").show();
});

  $(document).ready(function () {
    $("body").tooltip({
      selector: '[data-toggle=tooltip]'
    });
  });
  </script>
{% endblock %}
