{% extends 'base.html' %}
{% load static %}
{% load get_staff_approved %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/create_case_study_styles.css' %}">
<script src="{% static 'js/jquery.min.js' %}"></script>

{% endblock %}
{% block content %}


<div class="container py-2 pb-4">
    <div class="row">
        <div class="col-8">
            <h4>Share session "<strong>{{ session.name }}</strong>" with other PoPS users:</h4>
            <div>What does sharing mean?</div>
            <div>
                <strong>Share settings:</strong>
            </div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked>
  <label class="custom-control-label" for="customRadioInline1">Private</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline2">Public (not recommended)</label>
</div>


            <div id="public_help">
                <p>Are you sure you want to make this session public? This will allow any PoPS
                    user with your session ID to make changes to your session. We recommend public sessions for
                    for educational purposes, however we do NOT recommend using a public
                    session if you care about your data and results.</p>
                    <p> You can select specific PoPS users to share your session with.</p>
            </div>
<div id="sharing"> 
<div>
<strong>Share this session with specific PoPS users:</strong>
<form id="search"  action="{% url 'search_results' %}">
  <input name="q" type="text" placeholder="Search...">
</form>

<form id="add-allowed-users" method="post">{% csrf_token %}
<input type="hidden" id="id_session" name="session" value="{{ session.pk }}">
<div id="user-search-results">
</div>
</form>
<div>
Currently shared with:
{% for allowed_user in allowed_users %}
<div>
<a class="btn btn-danger btn-sm" 
href="{% url 'delete_allowed_user' pk=allowed_user.pk %}" 
role="button">remove</a>
{{ allowed_user.user.username }} ({{ allowed_user.user.first_name }} {{ allowed_user.user.last_name }} - {{ allowed_user.user.pk }})
</div>
{% endfor %}
</div>
</div>
</div>
        <div id="sharing_help">
            <p>Sharing will allow other users to:</p>
            <ul>
                <li>View your dashboard session</li>
                <li>Edit your dashboard session</li>
                <li>Create new runs in your session</li>
                <li>Delete runs in your session</li>
            </ul>
            <p>Sharing will NOT allow other users to:</p>
            <ul>
                <li>Delete your session</li>
                <li>View your workspace</li>
                <li>View sessions other than this one</li>
            </ul>
        </div>

    <div class="row pb-4">
        <div class="col-auto">
            <div class="d-inline text-center p-2">
                <a class="btn btn-secondary btn" href="{% url 'dashboard' pk=session.pk %}" role="button">Save and return to
                    dashboard</a>
            </div>
        </div>
    </div>
    

    <p>They say sharing is caring. </p>
</div>
</div>
</div>
<script>

    $("#search").on('submit', function () {
        event.preventDefault();
                console.log("search form submitted!") // sanity check
                var form = $(this).closest("form");
                $.ajax({
                    url: "{% url 'search_results' %}",
                    data: form.serialize(),
                    type: "GET", // http method
                    success: function (data) {
                        console.log(data.users[0].pk)
                        console.log(data.users[0].first_name)
                        var container = $('<div />');
                        for(var i = 0; i < data.users.length; i++) {
                            var available_users = '<div><button form="add-allowed-users" class="btn btn-sm btn-info" type="submit" name="user" id="id_user" value="'
                            +data.users[i].pk+'">+</button>' 
                            + data.users[i].username + ' (' 
                            + data.users[i].first_name + ' ' 
                            + data.users[i].last_name + ')</div>';
                            
                            container.append(available_users);
                            console.log(container);
                            console.log('loop')
                        }
                        $('#user-search-results').html(container);
                    },
                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
    });
</script>
    {% endblock %}