{% extends 'base.html' %}
{% load static %}
{% load get_staff_approved %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/create_case_study_styles.css' %}">
{% endblock %}
{% block content %}

<style type="text/css" media="screen">
    .table-wrapper-scroll-y {
        display: block;
        max-height: 30em;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
</style>

<div class="container py-2 pb-4">
    <div class="row">
        <div class="col-8">
            <h4>Share session "<strong>{{ session.name }}</strong>" with other PoPS users:</h4>
            <div>What does sharing mean?</div>
            <div>
                <strong>Share settings:</strong>
            </div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked>
  <label class="custom-control-label" for="customRadioInline1">Private</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline2">Public (not recommended)</label>
</div>


            <div id="public_help">
                <p>Are you sure you want to make this session public? This will allow any PoPS
                    user with your session ID to make changes to your session. We recommend public sessions for
                    for educational purposes, however we do NOT recommend using a public
                    session if you care about your data and results.</p>
                    <p> You can select specific PoPS users to share your session with.</p>
            </div>
<div id="sharing"> 
<div>
<strong>Share this session with specific PoPS users:</strong>

<form method="post">{% csrf_token %}

    {{ form.user }}
<input type="hidden" id="id_session" name="session" value="{{ session.pk }}">
    <input type="submit" value="Save">
</form>
<div>
Active users:
{% for allowed_user in allowed_users %}
<div>
<a class="btn btn-info btn-sm" 
href="#" 
role="button">+</a>
{{ allowed_user.user.username }} ({{ allowed_user.user.first_name }} {{ allowed_user.user.last_name }} - {{ allowed_user.user.pk }})
</div>
{% endfor %}
</div>
</div>
<form class="form-inline md-form form-sm mt-0">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search for users"
    aria-label="Search">
</form>
</div>
        <div id="sharing_help">
            <p>Sharing will allow other users to:</p>
            <ul>
                <li>View your dashboard session</li>
                <li>Edit your dashboard session</li>
                <li>Create new runs in your session</li>
                <li>Delete runs in your session</li>
            </ul>
            <p>Sharing will NOT allow other users to:</p>
            <ul>
                <li>Delete your session</li>
                <li>View your workspace</li>
                <li>View sessions other than this one</li>
            </ul>
        </div>

    <div class="row pb-4">
        <div class="col-auto">
            <div class="d-inline text-center p-2">
                <a class="btn btn-secondary btn" href="{% url 'dashboard' pk=session.pk %}" role="button">Save and return to
                    dashboard</a>
            </div>
        </div>
    </div>
    

    <p>They say sharing is caring. </p>
</div>
</div>
</div>
    {% endblock %}