<!DOCTYPE html>
<html lang="en">
{% load static %} 

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

  {% load static %}
  {% block page_styles %}
  <link rel="stylesheet" href="{% static 'css/dashboard_layout.css' %}">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% endblock %}
</head>
<body>

<div class="container">
{% comment %}   <div class="row">
    <div class="col-3">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="radio" value="host_removal" id="host_removal_status" checked>
          </div>
        </div>
        <div class="input-group-prepend">
          <span class="input-group-text">Host removal</span>
        </div>
        <div class="input-group-append">
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <div class="input-group input-group-sm mx-2 my-1">
              <div class="input-group-prepend">
                <span class="input-group-text">Efficacy</span>
              </div>
              <input id="default_host_removal_efficacy" type="number" name="host_removal_efficacy" value="0.5" min="0"
                max="1" step="0.1">
            </div>
            <div class="input-group input-group-sm mx-2 my-1">
              <div class="input-group-prepend">
                <span class="input-group-text">$ per m<sup>2</sup></span>
              </div>
              <input id="default_host_removal_cost" type="number" name="host_removal_cost" value="0.5" min="0" max="1"
                step="0.1">
            </div>
          </div>
        </div>
      </div>    
      </div>
      <div class="col-3">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="radio" value="host_removal" id="host_removal_status" checked>
          </div>
        </div>
        <div class="input-group-prepend">
          <span class="input-group-text">Pesticide</span>
        </div>
        <div class="input-group-append">
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <div class="input-group input-group-sm mx-2 my-1">
              <div class="input-group-prepend">
                <span class="input-group-text">Efficacy</span>
              </div>
              <input id="default_pesticide_efficacy" type="number" name="pesticide_efficacy" value="0.5" min="0"
                max="1" step="0.1">
            </div>
            <div class="input-group input-group-sm mx-2 my-1">
              <div class="input-group-prepend">
                <span class="input-group-text">$ per m<sup>2</sup></span>
              </div>
              <input id="default_pesticide_cost" type="number" name="pesticide_cost" value="0.5" min="0" max="1"
                step="0.1">
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}




  <div id="map" class="large_map" style="width:1000px"></div>

              <div id="draw-controls" class="btn-group-vertical" role="group">
                <div class="btn-group dropleft" title="Displayed units">
                  <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split "
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <button id="area_unit_button" type="button" data-toggle="dropdown" class="btn btn-default">
                    <div id="area_unit_text">ac</div>
                  </button>
                  <div class="dropdown-menu draw-tool-dropdown management_input_group">
                    <div class="px-2 py-1">Displayed units:</div>
                    <div class="container">
                      <div class="row">
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm">
                            <select name="area_unit" class="form-control" id="id_area_unit">
                              <option data-text="m<sup>2</sup>" value="1">meter squared</option>
                              <option data-text="ac" value="0.000247105" selected>acre</option>
                              <option data-text="ha" value="0.0001">hectare</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-secondary btn-sm" type="button" data-toggle="tool" title="Select management type"
                  data-placement="left">
                  <small>Management type</small>
                </button>
                <div class="btn-group dropleft">
                  <button type="button" title="Host removal"
                    class="btn btn-default dropdown-toggle dropdown-toggle-split " data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                  </button>
                  <button type="button" class="btn btn-default" title="Host removal" >
                    <i class="fas fa-window-close"></i> <input class="management-type" type="checkbox"
                      value="host_removal" id="host_removal_status" checked>
                  </button>
                  <div class="dropdown-menu draw-tool-dropdown management_input_group">
                    <div class="px-2 py-1">Host removal:</div>
                    <div class="container">
                      <div class="row">
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm" title="Host removal efficacy (range: 0-1)">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Efficacy</span>
                            </div>
                            <input id="default_host_removal_efficacy" class="form-control" type="number"
                              name="host_removal_efficacy" value="0.5" min="0" max="1" step="0.1">
                          </div>
                        </div>
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm" title="Host removal cost per selected unit area">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="displayed_cost form-control" type="number" name="displayed_host_removal_cost"
                              value="0.5" min="0" max="1" step="0.1">
                            <input hidden id="default_host_removal_cost" class="default_cost" type="number"
                              name="host_removal_cost_per_m2" value="0.5" min="0" max="1" step="0.1">
                            <select class="custom-select custom-select-sm cost_unit">
                              <option value="1">/m^2</option>
                              <option value="0.000247105" selected>/acre</option>
                              <option value="0.0001">/ha</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-group dropleft">
                  <button type="button" title="Pesticide" class="btn btn-default dropdown-toggle dropdown-toggle-split "
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <button type="button" class="btn btn-default" title="Pesticide" >
                    <i class="fas fa-spray-can"></i> <input class="management-type " type="checkbox" value="pesticide"
                      id="pesticide_status">
                  </button>
                  <div class="dropdown-menu draw-tool-dropdown management_input_group">
                    <div class="px-2 py-1">Pesticide:</div>
                    <div class="container">
                      <div class="row">
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm" title="Pesticide efficacy (range: 0-1)">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Efficacy</span>
                            </div>
                            <input id="default_pesticide_efficacy" class="form-control" type="number"
                              name="pesticide_efficacy" value="0.5" min="0" max="1" step="0.1"
                              title="Pesticide efficacy (0-1)">
                          </div>
                        </div>
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm" title="Pesticide cost per selected unit area">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="displayed_cost form-control" type="number" name="displayed_pesticide_cost"
                              value="0.5" min="0" max="1" step="0.1">
                            <input hidden id="default_pesticide_cost" class="default_cost" type="number"
                              name="pesticide_cost_per_m2" value="0.5" min="0" max="1" step="0.1">
                            <select class="custom-select custom-select-sm cost_unit">
                              <option value="1">/m^2</option>
                              <option value="0.000247105" selected>/acre</option>
                              <option value="0.0001">/ha</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-secondary btn-sm " type="button" data-toggle="tool"
                  title="Below are the tools to draw management" data-placement="left">
                  <small>Draw tools</small>
                </button>
                <button id="polygon-tool" class="btn btn-default drawing-tool " type="button" data-toggle="tool"
                  title="Draw management polygon" data-placement="left">
                  <i class="fas fa-draw-polygon"></i>
                </button>
                <div class="btn-group dropleft">
                  <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split "
                    title="Select radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <button id="circle-tool" type="button" class="btn btn-default drawing-tool" title="Circle tool"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-dot-circle"></i>
                  </button>
                  <div class="dropdown-menu draw-tool-dropdown management_input_group">
                    <div class="px-2 py-1">Choose circle radius:</div>
                    <div class="container">
                      <div class="row">
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm" title="Circle radius">
                            <input id="displayed_circle_radius" class="displayed_circle_radius form-control"
                              type="number" name="displayed_circle_radius" value="600" min="0" step="1">
                            <input hidden id="circle_radius_in_meters" type="number" name="circle_radius_in_meters">
                            <select id="circle_distance_unit" class="custom-select custom-select-sm">
                              <option value="1.0" selected>meters</option>
                              <option value="0.3048">feet</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="select-tool" class="btn btn-default drawing-tool active" type="button" data-toggle="tool"
                  title="Selection tool" data-placement="left">
                  <i class="fas fa-hand-paper"></i>
                </button>
                <button id="delete-tool" class="btn btn-default drawing-tool" type="button" data-toggle="tool"
                  title="Delete selection" data-placement="left">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>

  <div id="editPolygons" class="container">
    <div class="row">
      <div class="col-12">
        Edit selected polygons:
      </div>
      <div class="col-12">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="editManagementOptions" id="inlineRadio1"
            value="Host removal">
          <label class="form-check-label" for="inlineRadio1"><small>Host removal</small></label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="editManagementOptions" id="inlineRadio2" value="Pesticide">
          <label class="form-check-label" for="inlineRadio2"><small>Pesticide</small></label>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-12 py-1">
          <div class="input-group input-group-sm" title="Efficacy (range: 0-1)">
            <div class="input-group-prepend">
              <span class="input-group-text">Efficacy</span>
            </div>
            <input id="edit_efficacy" class="form-control" type="number" name="" value="0.5" min="0" max="1" step="0.1"
              title="Efficacy (0-1)">
          </div>
        </div>
        <div class="col-12 py-1">
          <div class="input-group input-group-sm management_group_cost" title="Cost per selected unit area">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input id="edit_display_cost" class="displayed_cost form-control" type="number"
              name="displayed_pesticide_cost" value="0.5" min="0" max="1" step="0.1">
            <input hidden id="edit_cost" class="default_cost" type="number" name="pesticide_cost_per_m2" value="0.5"
              min="0" step="0.1">
            <select id="edit_area_unit" class="custom-select custom-select-sm cost_unit">
              <option value="1">/m^2</option>
              <option value="0.000247105" selected>/acre</option>
              <option value="0.0001">/ha</option>
            </select>
          </div>
        </div>
        <div class="col-12 py-1">
          <button id="changeManagementButton" class="btn btn-sm btn-secondary">Apply changes </button>
        </div>
      </div>
    </div>

<script src="{% static 'js/dashboard/CircleMode.js' %}"></script>
<!-- Set the draw color and pattern fills for the draw tools -->
<script src="{% static 'js/dashboard/setDrawColor.js' %}"></script>
<script src="{% static 'js/dashboard/gaugePlot.js' %}"></script>
<script src="{% static 'js/dashboard/ajax_setup_functions.js' %}"></script>
<script src="{% static 'js/dashboard/mapbox_layer_functions.js' %}"></script>
<script src="{% static 'js/dashboard/side_bar_plots.js' %}"></script>
<!-- This is the plotting function for the comparison buttons at the bottom.  -->
<script src="{% static 'js/dashboard/run_comparison_plot.js' %}"></script>
<!-- Function to insert a run button.  -->
<script src="{% static 'js/dashboard/insertRunButton.js' %}"></script>
<!-- Function to update mapbox draw color.  -->
<script src="{% static 'js/dashboard/updateDrawColor.js' %}"></script>
<script>

  $("input#displayed_circle_radius, select#circle_distance_unit").on('click blur', function () {
    console.log("Circle radius changed")
    var displayed_management_circle_radius = $("input#displayed_circle_radius").val();
    console.log('Displayed radius = ' + displayed_management_circle_radius);
    var convert_to_meters_modifier = $("select#circle_distance_unit").children("option:selected").val();
    console.log('Modifier = ' + convert_to_meters_modifier);
    var management_circle_radius_meters = displayed_management_circle_radius*convert_to_meters_modifier;
    console.log("Radius in hidden field = " + management_circle_radius_meters);
    $("input#circle_radius_in_meters").val(management_circle_radius_meters);
  });

$(".management_group_cost input, .management_group_cost select").on("click blur hide.bs.dropdown", function() {
  var element = $(this).parent();
  var displayed_cost = $(element).find("input.displayed_cost").val();
  console.log("DISPLAYED COST: " + displayed_cost);
  var cost_modifier =  $(element).find("option:selected").val();
  console.log("COST MODIFIER: " + cost_modifier);
  var actual_cost_per_meter_squared = Math.round(displayed_cost*cost_modifier*100000000)/100000000;
  console.log("ACTUAL COST: " + actual_cost_per_meter_squared);
  $(element).find("input.default_cost").val(actual_cost_per_meter_squared);
});

$('.draw-tool-dropdown').on('click', function(e) {
  e.stopPropagation();
});

//Prevent no management type from being selected
$(".management-type").on('change',  function () {
  //If all management types are unchecked, recheck the last unchecked checkbox
  console.log('Management type changed.')
  if ($('.management-type:not(:checked)').length == $('.management-type').length ){
    $(this).prop('checked',true)
    console.log('Rechecking box')
	}
})
</script>
<script>  $( "#editPolygons" ).hide();</script>

        <textarea value="0" name="management_polygons" cols="40" rows="10" class="form-control"
          id="id_management_polygons"></textarea>

</div>

  <script src="{% static 'js/dashboard/custom_draw.js' %}"></script>
<script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css'
    type='text/css' />
  <script>
    mapboxgl.accessToken =
      'pk.eyJ1Ijoic2hhbmtqNjg3IiwiYSI6ImNqc2pmc201eDE0amUzeXF6eTYzaDI2azUifQ.7uhVr9px-kAjXkqSdTW2OQ';
    /* eslint-disable */
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/shankj687/ckepyeuvg2zh219s0qihd4m55', //'mapbox://styles/mapbox/dark-v10', //hosted style id
      center: [-80, 40], // initial map center in [lon, lat]
      zoom: 13 // starting zoom
    });


    //This function creates a new MapBox draw with custom settings and styles. The draw functionality
    //is then added to the map using map.addControl(draw);
    function set_draw_color(draw_color) {
      var draw = new MapboxDraw({
        keybindings: true,
        displayControlsDefault: false,
        userProperties: true,
        modes: Object.assign({
          draw_circle: CircleMode,
        }, MapboxDraw.modes),
        controls: {
          //polygon: true,
          //trash: true
        },
        styles: [{
            'id': 'circle-active',
            'type': 'circle',
            'filter': ['all',
              ['==', '$type', 'Point'],
              ['==', 'meta', 'feature'],
              ['==', 'active', 'true']
            ],
            'paint': {
              'circle-radius': 7,
              'circle-color': draw_color,
            }
          },
          {
            'id': 'circle-static',
            'type': 'circle',
            'filter': ['all',
              ['==', '$type', 'Point'],
              ['==', 'meta', 'feature'],
              ['==', 'active', 'false']
            ],
            'paint': {
              'circle-radius': 7,
              'circle-color': draw_color,
            }
          },
          {
            'id': 'highlight-active-points',
            'type': 'circle',
            'filter': ['all',
              ['==', '$type', 'Point'],
              ['==', 'meta', 'feature'],
              ['==', 'active', 'true']
            ],
            'paint': {
              'circle-radius': 7,
              'circle-color': draw_color,
            }
          },
          // ACTIVE (being drawn)
          // line stroke
          {
            "id": "gl-draw-line",
            "type": "line",
            "filter": ["all", ["==", "$type", "LineString"],
              ["!=", "mode", "static"]
            ],
            "layout": {
              "line-cap": "round",
              "line-join": "round"
            },
            "paint": {
              "line-color": draw_color,
              "line-dasharray": [0.2, 2],
              "line-width": 3
            }
          },
          // polygon fill
          {
            "id": "gl-draw-polygon-fill",
            "type": "fill",
            "filter": ["all", ["==", "$type", "Polygon"],
              ["!=", "mode", "static"]
            ],
            "paint": {
              //'fill-color': [
              //"case",
              //['==', ['get', "user_management_type"], "Host removal"], "red",
              //['==', ['get', "user_management_type"], "Pesticide"], "yellow",
              //['==', ['get', "user_management_type"], "Host removal and Pesticide"], "black",
              //'white'
              //],              
              'fill-pattern': [
                "case",
                ['==', ['get', "user_management_type"], "Host removal"], "SampleX",
                ['==', ['get', "user_management_type"], "Pesticide"], "SampleX_transparent",
                ''
              ],
              "fill-outline-color": draw_color,
              "fill-opacity": 1.0
            }
          },
          // polygon outline stroke
          // This doesn't style the first edge of the polygon, which uses the line stroke styling instead
          {
            "id": "gl-draw-polygon-stroke-active",
            "type": "line",
            "filter": ["all", ["==", "$type", "Polygon"],
              ["!=", "mode", "static"]
            ],
            "layout": {
              "line-cap": "round",
              "line-join": "round"
            },
            "paint": {
              "line-color": draw_color,
              "line-width": 3
            }
          },
          // vertex point halos
          {
            "id": "gl-draw-polygon-and-line-vertex-halo-active",
            "type": "circle",
            "filter": ["all", ["==", "meta", "vertex"],
              ["==", "$type", "Point"],
              ["!=", "mode", "static"]
            ],
            "paint": {
              "circle-radius": 7,
              "circle-color": "#FFF"
            }
          },
          // vertex points
          {
            "id": "gl-draw-polygon-and-line-vertex-active",
            "type": "circle",
            "filter": ["all", ["==", "meta", "vertex"],
              ["==", "$type", "Point"],
              ["!=", "mode", "static"]
            ],
            "paint": {
              "circle-radius": 5,
              "circle-color": draw_color,
            }
          },
          // INACTIVE (static, already drawn)
          // line stroke
          {
            "id": "gl-draw-line-static",
            "type": "line",
            "filter": ["all", ["==", "$type", "LineString"],
              ["==", "mode", "static"]
            ],
            "layout": {
              "line-cap": "round",
              "line-join": "round"
            },
            "paint": {
              "line-color": "#000",
              "line-width": 3
            }
          },
          // polygon fill
          {
            "id": "gl-draw-polygon-fill-static",
            "type": "fill",
            "filter": ["all", ["==", "$type", "Polygon"],
              ["==", "mode", "static"]
            ],
            "paint": {
              'fill-pattern': [
                "case",
                ['==', ['get', "user_management_type"], "Host removal"], "GreenX",
                ['==', ['get', "user_management_type"], "Pesticide"], "marker-11",
                'airport-15'
              ],
              "fill-outline-color": draw_color,
              "fill-opacity": 1.0
            }
          },
          // polygon outline
          {
            "id": "gl-draw-polygon-stroke-static",
            "type": "line",
            "filter": ["all", ["==", "$type", "Polygon"],
              ["==", "mode", "static"]
            ],
            "layout": {
              "line-cap": "round",
              "line-join": "round"
            },
            "paint": {
              "line-color": "#000",
              "line-width": 3
            }
          }
        ]
      });
      return draw;
    };

    //Set initial draw color and settings, add Draw functionality to the map.
    draw_color = '#C6F761';
    draw = set_draw_color(draw_color);
    map.addControl(draw);

    //Draw fires a number of events. All of these events are namespaced with draw. 
    //and are emitted from the Mapbox GL JS map object. 
    //All events are all triggered by user interaction.
    //Here we are giving the draw events custom functions to perform when triggered.
    map.on('draw.create', grabPolygon);
    map.on('draw.delete', updateJSON);
    map.on('draw.update', updatePolygons);
    map.on('draw.selectionchange', selectionChange)

    //Get the currently drawn polygon, so we can add management properties to the JSON.
    function grabPolygon(e) {
      polygon = draw.get(e.features[0].id); //Get the polygon
      delete polygon['id']; //Delete the ID, so we can duplicate it if there are more than 1 management type.
      draw.delete(e.features[0].id); //delete the original polygon.
      setManagementProperty(polygon); //Assign management properties to polygon.
    }
    //Assign management and efficacy properties to JSON.
    //Draw the polygon(s) (this includes combining same-type polygons and updating the management JSON)
    function setManagementProperty(polygon) {
      var management = getManagementType();
      var management_type = management[0];
      var host_removal_efficacy = management[1];
      var pesticide_application_efficacy = management[2];
      var host_removal_cost = management[3];
      var pesticide_application_cost = management[4];
      if (management_type == 'Host removal and Pesticide') {
        drawPolygon(polygon, 'Host removal', host_removal_efficacy,host_removal_cost)
        drawPolygon(polygon, 'Pesticide', pesticide_application_efficacy,pesticide_application_cost)
      } else if (management_type == 'Host removal') {
        drawPolygon(polygon, 'Host removal', host_removal_efficacy,host_removal_cost)
      } else if (management_type == 'Pesticide') {
        drawPolygon(polygon, 'Pesticide', pesticide_application_efficacy,pesticide_application_cost)
      } else {
        console.log('Error: No management type')
      }
    }
    //Add the polygon to draw. Set management properties. Perform findAndCombineOverlappingPolyogns.
    function drawPolygon(polygon, management_type, efficacy,cost) {
      featureID = draw.add(polygon);
      draw.setFeatureProperty(featureID, 'management_type', management_type);
      draw.setFeatureProperty(featureID, 'efficacy', efficacy);
      draw.setFeatureProperty(featureID, 'cost', cost);
      draw.add(draw.get(featureID)); //This line makes the new change draw on the map and appear.    
      findAndCombineOverlappingPolygons(featureID);
    }

    //When selection changes, show box to edit the selected polygons.
    function selectionChange(e) {
      selection = draw.getSelected();
      //display ability to edit if 1 or more polygons are selected
      if (selection.features.length > 0) {
        //Get the management type of the first feature, to pre-check that as the type
        selected_management_type = selection.features[0].properties.management_type;
        $("input[type=radio][name='editManagementOptions']").prop("checked", false);
        $("input[type=radio][value='" + selected_management_type + "']").prop("checked", true);
        $("input[id='edit_efficacy']").val(selection.features[0].properties.efficacy);
        var area_modifier = $("select#edit_area_unit").val();
        $("input[id='edit_display_cost']").val(selection.features[0].properties.cost/area_modifier);
        //Show edit polygons box.
        $('#editPolygons').show();
      } else {
        $('#editPolygons').hide();
      }
    }

    //Change management type of selected polygons
    $("#changeManagementButton").on('click', function () {
      selectionIDs = draw.getSelectedIds();
      var editManagementTypeValue = $("input[name='editManagementOptions']:checked").val();
      var editEfficacy = $("input[id='edit_efficacy']").val();
      var editCost = $("input[id='edit_cost']").val();
      for (var n = 0; n < selectionIDs.length; n++) {
        draw.setFeatureProperty(selectionIDs[n], 'management_type', editManagementTypeValue);
        draw.setFeatureProperty(selectionIDs[n], 'efficacy', editEfficacy);
        draw.setFeatureProperty(selectionIDs[n], 'cost', editCost);
        draw.add(draw.get(selectionIDs[n])); //This line makes the new change draw on the map and appear.
      }
      updateJSON(selectionIDs);
    });

    //When the polygons change (e.g. a polygon is selected and moved), check for overlapping polygons.
    function updatePolygons(e) {
      selection = draw.getSelectedIds();
      for (var n = 0; n < selection.length; n++) {
        findAndCombineOverlappingPolygons(selection[n]);
      }
    }

    //Mapbox draw switches to select tool automatically after drawing a polygon.
    //This function makes it so that the mode stays as polygon if the polygon
    //tool is selected.
    map.on('draw.modechange', e => {
      if ($("#polygon-tool").hasClass("active")) {
        draw.changeMode('draw_polygon');
      }
    });

    //Get the checked management type to apply to newly drawn polygons.
    function getManagementType() {
      if ($('#host_removal_status').prop('checked') && $('#pesticide_status').prop('checked')) {
        management_type = 'Host removal and Pesticide';
        host_removal_efficacy = $("#default_host_removal_efficacy").val();
        host_removal_cost = $("#default_host_removal_cost").val();
        pesticide_application_efficacy = $("#default_pesticide_efficacy").val();
        pesticide_application_cost = $("#default_pesticide_cost").val();
      } else if ($('#host_removal_status').prop('checked')) {
        management_type = 'Host removal';
        host_removal_efficacy = $("#default_host_removal_efficacy").val();
        pesticide_application_efficacy = 0;
        host_removal_cost = $("#default_host_removal_cost").val();
        pesticide_application_cost = 0;
      } else if ($('#pesticide_status').prop('checked')) {
        management_type = 'Pesticide';
        host_removal_efficacy = 0;
        host_removal_cost = 0;
        pesticide_application_efficacy = $("#default_pesticide_efficacy").val();
        pesticide_application_cost = $("#default_pesticide_cost").val();
      } else {
        management_type = '';
      }
      return [management_type, host_removal_efficacy, pesticide_application_efficacy,host_removal_cost,pesticide_application_cost];
    }

    //This function updates the GeoJSON management field 
    function updateJSON() {
      var data = draw.getAll();
      if (data.features.length > 0) {
        // Stringify the GeoJson
        var convertedData = JSON.stringify(data);
        [host_removal_area, pesticide_area] = calculateManagementArea(data);
        console.log('host_removal_area = ' + host_removal_area);
        console.log('pesticide_area = ' + pesticide_area);
        displayManagementCost(host_removal_area, pesticide_area)
        $('#id_management_polygons').val(convertedData);
      } else {
        $('#id_management_polygons').val(0);
        [host_removal_area, pesticide_area] = 0;
      }
    }
function displayManagementCost(host_removal_area, pesticide_area) {
      var answer = [];
      var budget = 1000000
      var host_removal_cost_per_meter_squared = 4000;
      var pesticide_cost_per_meter_squared = 1000;
      var area_unit = 'acres';
        var area_modifier = 1;
        //console.log('The area modifier is:' + area_modifier);
        //console.log('The area unit is:' + area_unit );
        var total_area = host_removal_area + pesticide_area;
        var rounded_area = Math.round(total_area * 100) / 100;
        var displayed_area = Math.round(total_area*area_modifier * 100) / 100;
        console.log('Displayed area = ' + displayed_area);
        // round cost to 2 decimal places
        var host_removal_cost = Math.round(host_removal_area * host_removal_cost_per_meter_squared * 100) / 100;
        var pesticide_cost = Math.round(pesticide_area * pesticide_cost_per_meter_squared * 100) / 100;
        var total_cost = host_removal_cost + pesticide_cost;
        console.log('Cost is = ' + total_cost)
        //answer.innerHTML =  displayed_area.toLocaleString("en") + ' ' + area_unit;
        //console.log(map.getCenter())
        //gauge_plot("money-new", cost, budget);
}
function calculateManagementArea(data) {
  var host_removal_objects = [];
  var pesticide_objects = [];
  for (var n = 0; n < data.features.length; n++) {
    if (data.features[n].properties.management_type == 'Host removal') {
      host_removal_objects.push(data.features[n]);
    } else if (data.features[n].properties.management_type == 'Pesticide') {
      pesticide_objects.push(data.features[n]);
    }
  }
  var host_removal_JSON = turf.featureCollection(host_removal_objects);
  var pesticide_JSON = turf.featureCollection(pesticide_objects);
  var host_removal_area = turf.area(host_removal_JSON);
  var pesticide_area = turf.area(pesticide_JSON);
  return [host_removal_area, pesticide_area];
}

    //Check if the most recently drawn polygon overlaps any existing polygons
    //of the same type and combine.
    function findAndCombineOverlappingPolygons(newPolygonID) {
      var allPolygons = draw.getAll();
      newPolygon = draw.get(newPolygonID);
      //Check that there are more than one polygon
      if (allPolygons.features.length > 1) {
        //Loop through all of the existing polygons
        for (var n = 0; n < allPolygons.features.length - 1; n++) {
          var existingPolygon = allPolygons.features[n];
          //Check to see if the new polygon intersects the existing polygon
          var intersection = turf.intersect(newPolygon, existingPolygon);
          if (intersection) {
            //If they are the same management type, combine the two polygons.
            if ((newPolygon.properties.management_type == existingPolygon.properties.management_type)) {
              union = combineTwoPolygons(newPolygonID, existingPolygon.id);
              if (union) {
                newPolygonID = union;
              }
            }
            else {
            }
          }
        }
      }
      updateJSON(newPolygonID);
    }

    //Check if polygon1 and polygon 2 intersect and are of the same type.
    //If yes, combine them into a single polygon and delete the original 2.
    function combineTwoPolygons(polygonID1, polygonID2) {
      polygon1 = draw.get(polygonID1);
      polygon2 = draw.get(polygonID2);
      //if polygons intersect AND management type is the same, perform union of two polygons
      if ((turf.intersect(polygon1, polygon2)) && (polygon1.properties.management_type == polygon2.properties.management_type)) {
        union = turf.union(polygon1, polygon2); //create new union polygon
        var featureIds = draw.add(union); //add new polygon to draw
        draw.delete(polygonID1) //remove original overlapping polygons
        draw.delete(polygonID2) //remove original overlapping polygons
        return (featureIds); //return the ID of the new polygon
      }
    }

  //CUSTOM DRAWING TOOL BAR SET UP
    $("#polygon-tool").on('click', function () {
      $('.drawing-tool').removeClass('active');
      $(this).addClass('active');
      draw.changeMode('draw_polygon');
      console.log("Polygon tool selected to draw management.")
    });
    $("#circle-tool").on('click', function () {
      $('.drawing-tool').removeClass('active');
      $('#circle-tool').addClass('active');
      draw.changeMode('draw_circle');
      console.log("Circle tool selected to draw management.")
    });

    $("#select-tool").on('click', function () {
      $('.drawing-tool').removeClass('active');
      $(this).addClass('active');
      draw.changeMode('simple_select');
      console.log("Select tool selected.")
    });
    $("#combine-tool").on('click', function () {
      draw.combineFeatures();
      console.log("Combine selected.")
    });
    $("#uncombine-tool").on('click', function () {
      draw.uncombineFeatures();
      console.log("Uncombine selected.")
    });
    $("#delete-tool").on('click', function () {
      draw.trash();
      console.log("Trash")
    });
    </script>
</body>

</html>