<!DOCTYPE html>
<html lang="en">
{% load static %} 

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

  {% load static %}
  {% block page_styles %}
  <link rel="stylesheet" href="{% static 'css/dashboard_layout.css' %}">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% endblock %}
</head>
<body>

<div class="container">
<div id="map-container">
  <div id="map" class="large_map" style="width:1000px"></div>
              <!-- BUDGET PLOT --> 
              <div id="budget_background_layer">
                <div id="displayed_management_area" class="text-center">
                  <div>Managed area:</div>
                  <div id="displayed-management-area">0.0 acres</div>
                </div>                
              </div>
              <div id="current-budget-plot" class=""></div>
          <!-- DRAW CONTROLS -->
              <div id="draw-controls" class="btn-group-vertical" role="group">
                <div class="btn-group dropleft" title="Displayed units">
                  <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split "
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <button id="area_unit_button" type="button" data-toggle="dropdown" class="btn btn-default">
                    <div id="area_unit_text">ac</div>
                  </button>
                  <div class="dropdown-menu draw-tool-dropdown">
                    <div class="px-2 py-1">Displayed units:</div>
                    <div class="container">
                      <div class="row">
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm">
                            <select name="area_unit" class="form-control" id="id_area_unit">
                              <option data-text="m<sup>2</sup>" value="1">meter squared</option>
                              <option data-text="ac" value="0.000247105" selected>acre</option>
                              <option data-text="ha" value="0.0001">hectare</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-secondary btn-sm" type="button" data-toggle="tool" title="Select management type"
                  data-placement="left">
                  <small>Management type</small>
                </button>
                <div class="btn-group dropleft">
                  <button type="button" title="Host removal"
                    class="btn btn-default dropdown-toggle dropdown-toggle-split " data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                  </button>
                  <button type="button" class="btn btn-default" title="Host removal">
                    <i class="fas fa-window-close"></i> <input class="management-type" type="checkbox"
                      value="host_removal" id="host_removal_status" checked>
                  </button>
                  <div class="dropdown-menu draw-tool-dropdown">
                    <div class="px-2 py-1">Host removal:</div>
                    <div class="container">
                      <div class="row">
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm" title="Host removal efficacy (range: 0-1)">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Efficacy</span>
                            </div>
                            <input id="default_host_removal_efficacy" class="form-control" type="number"
                              name="host_removal_efficacy" value="0.5" min="0" max="1" step="0.1">
                          </div>
                        </div>
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm" title="Host removal date">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Date</span>
                            </div>
                            <input id="default_host_removal_date" class="form-control" type="date"
                              name="host_removal_date" value="2018-01-01" min="2018-01-01" max="2018-12-31">
                          </div>
                        </div>
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm management_group_cost" title="Host removal cost per selected unit area">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="displayed_cost form-control" type="number" name="displayed_host_removal_cost"
                              value="0.5" min="0" max="1" step="0.1">
                            <input hidden id="default_host_removal_cost" class="default_cost" type="number"
                              name="host_removal_cost_per_m2" value="0.5" min="0" max="1" step="0.1">
                            <select class="custom-select custom-select-sm cost_unit">
                              <option value="1">/m^2</option>
                              <option value="0.000247105" selected>/acre</option>
                              <option value="0.0001">/ha</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-group dropleft">
                  <button type="button" title="Pesticide" class="btn btn-default dropdown-toggle dropdown-toggle-split "
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <button type="button" class="btn btn-default" title="Pesticide">
                    <i class="fas fa-spray-can"></i> <input class="management-type " type="checkbox" value="pesticide"
                      id="pesticide_status">
                  </button>
                  <div class="dropdown-menu draw-tool-dropdown">
                    <div class="px-2 py-1">Pesticide:</div>
                    <div class="container">
                      <div class="row">
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm" title="Pesticide efficacy (range: 0-1)">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Efficacy</span>
                            </div>
                            <input id="default_pesticide_efficacy" class="form-control" type="number"
                              name="pesticide_efficacy" value="0.5" min="0" max="1" step="0.1"
                              title="Pesticide efficacy (0-1)">
                          </div>
                        </div>
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm" title="Pesticide application date">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Date</span>
                            </div>
                            <input id="default_pesticide_date" class="form-control" type="date"
                              name="pesticide_date" value="2018-01-01" min="2018-01-01" max="2018-12-31">
                          </div>
                        </div>                        
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm management_group_cost" title="Pesticide cost per selected unit area">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="displayed_cost form-control" type="number" name="displayed_pesticide_cost"
                              value="0.5" min="0" max="1" step="0.1">
                            <input hidden id="default_pesticide_cost" class="default_cost" type="number"
                              name="pesticide_cost_per_m2" value="0.5" min="0" max="1" step="0.1">
                            <select class="custom-select custom-select-sm cost_unit">
                              <option value="1">/m^2</option>
                              <option value="0.000247105" selected>/acre</option>
                              <option value="0.0001">/ha</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-secondary btn-sm " type="button" data-toggle="tool"
                  title="Below are the tools to draw management" data-placement="left">
                  <small>Draw tools</small>
                </button>
                <button id="polygon-tool" class="btn btn-default drawing-tool " type="button" data-toggle="tool"
                  title="Draw management polygon" data-placement="left">
                  <i class="fas fa-draw-polygon"></i>
                </button>
                <div id="circle-tool-group" class="btn-group dropleft">
                  <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split "
                    title="Select radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <button id="circle-tool" type="button" class="btn btn-default drawing-tool" title="Circle tool"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-dot-circle"></i>
                  </button>
                  <div class="dropdown-menu draw-tool-dropdown">
                    <div class="px-2 py-1">Choose circle radius:</div>
                    <div class="container">
                      <div class="row">
                        <div class="col-12 px-2 py-1">
                          <div class="input-group input-group-sm" title="Circle radius">
                            <input id="displayed_circle_radius" class="displayed_circle_radius form-control"
                              type="number" name="displayed_circle_radius" value="600" min="0" step="1">
                            <input hidden id="circle_radius_in_meters" type="number" name="circle_radius_in_meters" value="600">
                            <select id="circle_distance_unit" class="custom-select custom-select-sm">
                              <option value="1.0" selected>meters</option>
                              <option value="0.3048">feet</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="select-tool" class="btn btn-default drawing-tool active" type="button" data-toggle="tool"
                  title="Selection tool" data-placement="left">
                  <i class="fas fa-hand-paper"></i>
                </button>
                <button id="delete-tool" class="btn btn-default drawing-tool" type="button" data-toggle="tool"
                  title="Delete selection" data-placement="left">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>

  <div id="editPolygons" class="container">
    <div class="row">
      <div class="col-12">
        Edit selected polygons:
      </div>
      <div class="col-12">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="editManagementOptions" id="inlineRadio1"
            value="Host removal">
          <label class="form-check-label" for="inlineRadio1"><small>Host removal</small></label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="editManagementOptions" id="inlineRadio2" value="Pesticide">
          <label class="form-check-label" for="inlineRadio2"><small>Pesticide</small></label>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-12 py-1">
          <div class="input-group input-group-sm" title="Efficacy (range: 0-1)">
            <div class="input-group-prepend">
              <span class="input-group-text">Efficacy</span>
            </div>
            <input id="edit_efficacy" class="form-control" type="number" name="" value="0.5" min="0" max="1" step="0.1"
              title="Efficacy (0-1)">
          </div>
        </div>
        <div class="col-12 py-1">
          <div class="input-group input-group-sm management_group_cost" title="Cost per selected unit area">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input id="edit_display_cost" class="displayed_cost form-control" type="number"
              name="displayed_pesticide_cost" value="0.5" min="0" max="1" step="0.1">
            <input hidden id="edit_cost" class="default_cost" type="number" name="pesticide_cost_per_m2" value="0.5"
              min="0" step="0.1">
            <select id="edit_area_unit" class="custom-select custom-select-sm cost_unit">
              <option value="1">/m^2</option>
              <option value="0.000247105" selected>/acre</option>
              <option value="0.0001">/ha</option>
            </select>
          </div>
        </div>
        <div class="col-12 py-1">
          <button id="changeManagementButton" class="btn btn-sm btn-secondary">Apply changes </button>
        </div>
      </div>
</div>
<textarea value="0" name="management_polygons" cols="40" rows="10" class="form-control"
    id="id_management_polygons"></textarea>
    <input id="chat-message-submit" type="button" value="Send">

            <a class="nav-link active" id="map-tab" data-toggle="pill" title="View map" data-placement="right" href="#"
          aria-controls="v-pills-home" aria-selected="true"><i class="align-middle fas fa-globe-americas"></i></a>
    </div>

    <!-- CUSTOM CIRCLE DRAWING MODE -->
<script src="{% static 'js/dashboard/CircleMode.js' %}"></script>
<!-- Set the draw color and pattern fills for the draw tools -->
<script src="{% static 'js/dashboard/setDrawColor.js' %}"></script>
<script src="{% static 'js/dashboard/gaugePlot.js' %}"></script>
<script src="{% static 'js/dashboard/ajax_setup_functions.js' %}"></script>
<script src="{% static 'js/dashboard/mapbox_layer_functions.js' %}"></script>
<script src="{% static 'js/dashboard/side_bar_plots.js' %}"></script>
<!-- This is the plotting function for the comparison buttons at the bottom.  -->
<script src="{% static 'js/dashboard/run_comparison_plot.js' %}"></script>
<!-- Function to insert a run button.  -->
<script src="{% static 'js/dashboard/insertRunButton.js' %}"></script>
<!-- Function to update mapbox draw color.  -->
<script src="{% static 'js/dashboard/updateDrawColor.js' %}"></script>
<script src="{% static 'js/dashboard/draw_functions.js' %}"></script>
<script src="{% static 'js/websockets/rpc-websockets.js' %}"></script>
<script>
//Initiate websocket
const session = 'demo'
var ws_scheme = window.location.protocol == "https:" ? "wss://" : "ws://";
var chatSocket = new RPCWebSocket.Client(
  ws_scheme +
  window.location.host +
  '/ws/dashboard/' +
  session +
  '/', {
    max_reconnects: 0, // Unlimited
  });

//Receive updated management from server
chatSocket.on("update_management", (event) => {
  console.log("Updating management polygons")
  console.log(event);
  document.querySelector('#id_management_polygons').value = (event.management_polygons);
  //if current run collection is the even run collection, update management
  var treatment = JSON.parse(event.management_polygons);
  console.log('Treatment:')
  console.log(treatment)
  if (treatment != 0) {
    var ids = draw.set(treatment);
  } else {
    draw.deleteAll();
  }
  updateDrawMetrics();
  if ($("#polygon-tool").hasClass("active")) {
    draw.changeMode('draw_polygon');
  }          
});
//New run collection
chatSocket.on("new_run_collection", (event) => {
  console.log("New run collection")
  console.log(event);
  run_collection = event.run_collection;
  console.log(run_collection);
});

//This function sends the runCollection via websocket 
function sendRunCollectionWebsocket() {
  console.log('Sending run collection message')
  chatSocket.notify("new_run_collection", {
      run_collection: 42,
      name: 'Run collection name',
      date: '10-2-2012',
      description: 'This is the description',
      infected_number: 100,
      infected_area: 20,
      cost: 120,
    })
}


//This function sends the polygon JSON via websocket 
function sendJSONWebsocket() {
  console.log('Sending websocket message')
  const messageInputDom = document.querySelector('#id_management_polygons');
  const management_polygons = messageInputDom.value;
  chatSocket.notify("update_management", {
      management_polygons: management_polygons,
      run_collection: 42
    })
  messageInputDom.value = '';
}

//Websocket close event
chatSocket.on("close", (event) => {
  console.log('Websocket closed.')
});
//Websocket open event
chatSocket.on("open", (event) => {
  console.log('Websocket opened.')
});
//Websocket error event
chatSocket.on("error", (event) => {
  console.log('Websocket error.')
});

document.querySelector('#id_management_polygons').focus();
document.querySelector('#id_management_polygons').onkeyup = function (e) {
  if (e.keyCode === 13) { // enter, return
    document.querySelector('#chat-message-submit').click();
  }
};

document.querySelector('#chat-message-submit').onclick = function (e) {
  sendRunCollectionWebsocket();
};



//This function updates the GeoJSON management field 
//and sends the websocket if needed
function updateJSON() {
  console.log("Updating management polygons JSON.");
  var data = draw.getAll();
  if (data.features.length > 0) {
    // Stringify the GeoJson
    var convertedData = JSON.stringify(data);
  } else {
    var convertedData = 0;
  }
  $('#id_management_polygons').val(convertedData);
  sendJSONWebsocket();
  updateDrawMetrics(); //consider removing this since it gets updated with the websocket message
}
</script>

<script>

function round(value, decimals) {
  return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals);
}

  $("input#displayed_circle_radius, select#circle_distance_unit").on('click blur', function () {
    console.log("Circle radius changed")
    var displayed_management_circle_radius = $("input#displayed_circle_radius").val();
    console.log('Displayed radius = ' + displayed_management_circle_radius);
    var convert_to_meters_modifier = $("select#circle_distance_unit").children("option:selected").val();
    console.log('Modifier = ' + convert_to_meters_modifier);
    var management_circle_radius_meters = displayed_management_circle_radius*convert_to_meters_modifier;
    console.log("Radius in hidden field = " + management_circle_radius_meters);
    $("input#circle_radius_in_meters").val(management_circle_radius_meters);
  });

$(".management_group_cost input, .management_group_cost select").on("click blur hide.bs.dropdown", function() {
  var element = $(this).parent();
  var displayed_cost = $(element).find("input.displayed_cost").val();
  console.log("DISPLAYED COST: " + displayed_cost);
  var cost_modifier =  $(element).find("option:selected").val();
  console.log("COST MODIFIER: " + cost_modifier);
  var actual_cost_per_meter_squared = Math.round(displayed_cost*cost_modifier*100000000)/100000000;
  console.log("ACTUAL COST: " + actual_cost_per_meter_squared);
  $(element).find("input.default_cost").val(actual_cost_per_meter_squared);
});

$('.draw-tool-dropdown').on('click', function(e) {
  e.stopPropagation();
});

//Prevent no management type from being selected
$(".management-type").on('change',  function () {
  //If all management types are unchecked, recheck the last unchecked checkbox
  console.log('Management type changed.')
  if ($('.management-type:not(:checked)').length == $('.management-type').length ){
    $(this).prop('checked',true)
    console.log('Rechecking box')
	}
})
</script>
<script>  $( "#editPolygons" ).hide();</script>


</div>

<script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css'
    type='text/css' />
  <script>
    mapboxgl.accessToken =
      'pk.eyJ1Ijoic2hhbmtqNjg3IiwiYSI6ImNqc2pmc201eDE0amUzeXF6eTYzaDI2azUifQ.7uhVr9px-kAjXkqSdTW2OQ';
    /* eslint-disable */
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/shankj687/ckepyeuvg2zh219s0qihd4m55', //'mapbox://styles/mapbox/dark-v10', //hosted style id
      center: [-80, 40], // initial map center in [lon, lat]
      zoom: 13 // starting zoom
    });




      //Colors and patterns for drawing management polygons and plots.
  var colors = ['#d6f731','#4af7b0','#6fd5f7','#c596fa','#fa89d2'];//['#C6F761', '#60f781','#60e8f7','#be89fa','#fa89d2'];//['#C6F761', '#61F785','#61F7E8','#61A4F7','#8D61F7','#E361F7'];
  var host_removal_patterns=['X-LimeGreen','X-BlueGreen','X-Blue','X-Purple','X-Pink',];
  var pesticide_application_patterns=['ColoredDots-LimeGreen','ColoredDots-BlueGreen','ColoredDots-Blue','ColoredDots-Purple','ColoredDots-Pink',];
  var previous_pesticide_application_patterns=['BlackDots-LimeGreen','BlackDots-BlueGreen','BlackDots-Blue','BlackDots-Purple','BlackDots-Pink',];

//Set initial draw color and settings, add Draw functionality to the map.
var draw_color = colors[0];
var host_removal_pattern=host_removal_patterns[0];
var pesticide_application_pattern=pesticide_application_patterns[0];
draw = setDrawColor(draw_color,host_removal_pattern,pesticide_application_pattern);
map.addControl(draw);

    //Draw fires a number of events. All of these events are namespaced with draw. 
    //and are emitted from the Mapbox GL JS map object. 
    //All events are all triggered by user interaction.
    //Here we are giving the draw events custom functions to perform when triggered.
map.on('draw.create', createPolygon);
map.on('draw.delete', deletePolygons);
map.on('draw.update', updatePolygons);
map.on('draw.selectionchange', displaySelectionChange);



    //Mapbox draw switches to select tool automatically after drawing a polygon.
    //This function makes it so that the mode stays as polygon if the polygon
    //tool is selected.
    map.on('draw.modechange', e => {
      if ($("#polygon-tool").hasClass("active")) {
        draw.changeMode('draw_polygon');
      }
    });






  //CUSTOM DRAWING TOOL BAR SET UP
    $("#polygon-tool").on('click', function () {
      $('.drawing-tool').removeClass('active');
      $(this).addClass('active');
      draw.changeMode('draw_polygon');
      console.log("Polygon tool selected to draw management.")
    });
    $("#circle-tool").on('click', function () {
      $('.drawing-tool').removeClass('active');
      $('#circle-tool').addClass('active');
      draw.changeMode('draw_circle');
      console.log("Circle tool selected to draw management.")
    });

    $("#select-tool").on('click', function () {
      $('.drawing-tool').removeClass('active');
      $(this).addClass('active');
      draw.changeMode('simple_select');
      console.log("Select tool selected.")
    });
    $("#combine-tool").on('click', function () {
      draw.combineFeatures();
      console.log("Combine selected.")
    });
    $("#uncombine-tool").on('click', function () {
      draw.uncombineFeatures();
      console.log("Uncombine selected.")
    });
    $("#delete-tool").on('click', function () {
      draw.trash();
      console.log("Trash")
    });
    </script>
</body>

</html>