{% extends 'base.html' %}
{% load static %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
<link rel="stylesheet" href="{% static 'css/workspace.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">
  <div id="header" class="row text-center" style="background-color:transparent;">
    <div class="col">
      <h1>Welcome to your PoPS workspace</h1>
    </div>
  </div>
        
        <div class="row justify-content-center">
                <div class="col-lg-10">
                        <div class="panel-container">

                                <h4>My sessions ({% if sessions.count < 5 %} {{ sessions.count }}
                                        {% else %} 5 {% endif %} / {{ number_of_sessions }} ):</h4>
                                {% if sessions %}
                                <table class="table table-hover table-dark table-sm ">
                                        <thead>
                                                <th class="w-30">Name</th>
                                                <th class="w-25">Case study</th>
                                                <th class="w-5">Runs</th>
                                                <th class="w-20">Last run</th>
                                                <th></th>
                                        </thead>

                                        <tbody>
                                                {% for session in sessions %}
                                                <tr>
                                                        <td><a class="text-light"
                                                                        href="{% url 'dashboard' pk=session.pk %}">
                                                                        <span data-toggle="tooltip" data-placement="right"
                                                                                title="{{ session.description }}">
                                                                                {{ session.name }}
                                                                                </span>
                                                                </a>
                                            {% if session.shared %}
                                                {% if session.created_by.username != user.username %}
                                                <span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="right"
                                                title="Shared with you by {{ session.created_by.username }}.">
                                                <i class="fas fa-user-friends"></i> {{ session.shared }}</span>
                                                {% else %}
                                                <span class="badge badge-pill badge-light" data-toggle="tooltip" data-placement="right"
                                                title="Session shared with {{ session.shared }} users.">
                                                <i class="fas fa-user-friends"></i> {{ session.shared }}</span>  
                                                {% endif %}
                                            {% elif session.public == True %}
                                                <span class="badge badge-pill badge-warning" href="{% url 'session_share' pk=session.pk %}" data-toggle="tooltip" data-placement="right"
                                                title="Session public.">
                                                <i class="fas fa-unlock-alt"></i></span>                                              
                                            {% else %}
                                                <span class="badge badge-pill badge-dark" href="{% url 'session_share' pk=session.pk %}" data-toggle="tooltip" data-placement="right"
                                                title="Session private.">
                                                <i class="fas fa-lock"></i></span>                                              
                                            {% endif %}
                                                                </td>
                                                        <td><a class="text-light"
                                                                        href="{% url 'case_study_review' pk=session.case_study.pk %}">{{ session.case_study.name }}
                                                                        <i
                        style="font-size:0.6em" class="fas fa-info-circle align-top text-light"></i></a>
                                                        </td>
                                                        <td>
                                                                <span
                                                                        class="badge badge-pill badge-light">{{ session.number_runs }}</span>
                                                        </td>
                                                        <td>{{ session.most_recent_run }}</td>
                                                        <td class="text-right pr-3"><a class="text-info"
                                                                        href="{% url 'dashboard' pk=session.pk %}"
                                                                        role="button"><i
                                                                                class="fas fa-arrow-alt-circle-right"
                                                                                data-toggle="tooltip"
                                                                                data-placement="top"
                                                                                title="Go to session."></i></a></td>
                                                </tr>
                                                {% endfor %}

                                        </tbody>
                                </table>
                                {% else %}
                                You have no shared sessions yet.
                                {% endif %}

                                <div class="row">
                                        <div class="col-6">
                                                <a class="btn btn-secondary  btn-block" href="{% url 'session_list' %}"
                                                        role="button" style="white-space: normal;"><i
                                                                class="fas fa-search"></i> View All My Sessions <span
                                                                class="badge badge-pill badge-light">{{ number_of_sessions }}</span>
                                                </a>
                                        </div>
                                        <div class="col-6">
                                                <a class="btn btn-success  btn-block" href="{% url 'pest_list' %}" 
                                                        role="button" style="white-space: normal;"><i
                                                                class="fas fa-plus-circle"></i> Create New Session
                                                </a>
                                        </div>
                                </div>

                        </div>
                </div>
                <div class="col-lg-10">
                        <div class="panel-container">
                                <h4>My case studies ({% if user_case_studies.count < 5 %} {{ user_case_studies.count }}
                                        {% else %} 5 {% endif %} / {{ number_of_case_studies }} ):</h4>                                
                                {% if user_case_studies %}
                                <table class="table table-hover table-dark table-sm ">
                                        <thead>
                                                <th>Name</th>
                                                <th>Pest(s)</th>
                                                <th>Date created</th>
                                                <th>Status</th>
                                                <th></th>
                                        </thead>

                                        <tbody>
                                                {% for cs in user_case_studies %}
                                                <tr>
                                                        <td>
                                                                <a class="text-light"
                                                                        href="{% url 'case_study_review' pk=cs.pk %}"
                                                                        role="button">
                                                                        <span data-toggle="tooltip" data-placement="right"
                                                                                title="{{ cs.description }}">
                                                                                {{ cs.name }}
                                                                                </span> 
                                                                                <span data-toggle="tooltip" data-placement="right"
                                                                                title="Click to see case study details.">
                                                                                <i style="font-size:0.6em" class="fas fa-info-circle align-top text-light"></i>
                                                                                </span></a>
                                                        </td>
                                                        {% with pests=cs.pest_set.all %}
                                                        <td>{% for pest in pests %}{% firstof pest.pest_information pest.name %}
                                                        {% endfor %} </td>
                                                        {% endwith %}
                                                        <td>{{ cs.date_created|date:'M. j, Y'  }}</td>

                                                        <td>
                                                                {% if cs.calibration_status == "NO START" %}
                                                                <i class="fas fa-question-circle text-light"
                                                                        data-toggle="tooltip" data-placement="top"
                                                                        title="Calibration not started. Click info for more details."></i>
                                                                {% endif %}
                                                                {% if cs.calibration_status == "IN PROGRESS" %}
                                                                <i class="fas fa-spinner text-warning"
                                                                        data-toggle="tooltip" data-placement="top"
                                                                        title="Calibration in progress. Click info for more details."></i>
                                                                {% endif %}
                                                                {% if cs.calibration_status == "FAILED" %}
                                                                <i class="fas fa-times-circle text-danger"
                                                                        data-toggle="tooltip" data-placement="top"
                                                                        title="Calibration FAILED. Click info for more details."></i>
                                                                {% endif %}
                                                                {% if cs.calibration_status == "SUCCESS" %}
                                                                <i class="fas fa-check text-success"
                                                                        data-toggle="tooltip" data-placement="top"
                                                                        title="Calibration successful. Click info for more details."></i>
                                                                {% endif %}

                                                        </td>
                                                        <td class="text-right pr-3"><a class="text-info"
                                                                        href="{% url 'new_session_case_study_specific' case_study=cs.pk %}"
                                                                        role="button"><i
                                                                                class="fas fa-plus-circle"
                                                                                data-toggle="tooltip"
                                                                                data-placement="top"
                                                                                title="Create a new session"></i></a></td>
                        </tr>
                                                {% endfor %}

                                        </tbody>
                                </table>
                                {% else %}
                                You have no custom case studies yet.
                                {% endif %}
                                <div class="row">
                                        <div class="col-6">
                                <a class="btn btn-secondary  btn-block" href="{% url 'case_study_list' %}" role="button"
                                        style="white-space: normal;"><i class="fas fa-search"></i> Browse All Case
                                        Studies
                                </a>
                                        </div>
                                        <div class="col-6">
                                <a class="btn btn-success  btn-block" href="{% url 'create_case_study' %}" role="button"
                                        style="white-space: normal;"><i class="fas fa-plus-circle"></i> Create New Case
                                        Study
                                </a>
                                        </div>
                                </div>

                        </div>
                </div>
        </div>

</div>

</div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function () {
    $("body").tooltip({
      selector: '[data-toggle=tooltip]'
    });
  });
  </script>
{% endblock %}
