<!-- templates/account_activation_sent.html -->
{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}

{% block content %}
<div id="page-content" class="container-fluid">
    <div id="header" class="row text-center" style="background-color:transparent;">
        <div class="col">
            <h1>400 error</h1>
        </div>
    </div>
    <div id="" class="row justify-content-center section-style">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
            <h4>Oops! Something went wrong (400: bad request).</h4>
            <p>If the problem persists, please contact administrators.</p>
        </div>
    </div>
</div>
{% endblock %}
