{% extends 'base.html' %}
{% load static %}
  {% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  {% endblock %}
{% block content %}


  <div id="header" class="container-fluid p-4 text-center">
    <h1 class="display-4">About PoPS</h1>
</div>

  <div id="description" class="container-fluid p-4 ">
<div class="row">
<div class="col-md-6">
<h2>What is PoPS?</h2>
    <p >PoPS is a framework for modeling the spread of pests or pathogens across a landscape.
    We created PoPS because we want to help decision-makers, researchers, and students
    create geospatial distribution models.
    </p>
    <p >
    With PoPS you can quickly and easily:
    <ul >
      <li>Calibrate and validate your model</li>
      <li>Run management or weather scenarios</li>
      <li>Compare scenarios to make management decisions</li>
    </ul>
    </p>
<p class="text-right"><a class="text-light" href="#">Read more <i class="text-light fas fa-arrow-right"></i></a></p>    
</div>
    <div class="col-md-6">
    <div id="map">
</div>
<small class="text-muted">Simulated results showing Spotted Lanternfly spread in Pennsylvania.</small>

    </div>
    </div>
</div>

  <div id="how" class="container-fluid p-4 ">
<div class="row">
<div class="col-md-6 ">
<div class="text-center">
    <img class='img-fluid w-100'  style="max-width:500px" src="{% static 'images/PoPS_Dashboard_Example.png' %}" alt="PoPS is easy to use." >
</div>
    </div>
    <div class="col-md-6">
<h2>How do I use PoPS?</h2>
    <p >Our modeling platform comes with all of the necessary tools to go from initial data to 
    modeling results quickly and easily (<strong>NO programming experience required!</strong>):</p>
    <ul >
      <li>Create your own case study (i.e. model) or explore the already calibrated and validated case studies.</li>
      <li>Run management scenarios using the easy to use PoPS interface.</li>
      <li>Easily compare management interventions across studies.</li>
    </ul>
    <div class="text-center">
      <button class="btn btn-dark btn-lg" type="button"><i class="fas fa-file-download"></i> Manual</button>
  <button class="btn btn-warning btn-lg" type="button"><i class="fas fa-eye"></i> Tutorials</button>
  </div>
    <p class="pt-2" style="font-size:0.8em">    <i class="fab fa-github"></i>  <strong>Experienced coder? </strong>Install the PoPS R-package to run PoPS on your 
    own machine with more customizations and command-line control. <a href="#"><i class="text-light fas fa-arrow-right"></i></a></p>
    </div>
    </div>
</div>

  <div class="container-fluid ">
<div class="row">
<div id="who" class="col-md-6 p-4">
<h2>Who is using PoPS?</h2>
    <p >PoPS has been successfully used by university researchers and
    government analysts to model both pests and pathogens.
    </p>
    <p >
    PoPS has been used by:
    <ul >
      <li><img src="{% static 'images/ncstate-brick-4x1-red.png' %}" alt="Generic placeholder image" width=200></li>
      <li>USDA (Animal and Plant Health Inspection Service)</li>
      <li>More</li>
    </ul>

    </div>
    <div id="examples" class="col-md-6 p-4">
    <h2>What can PoPS model?</h2>
        <p >
    PoPS has been used to model:
    <ul >
      <li>Spotted Lanternfly in Pennsylvania</li>
      <li>Sudden Oak Death in California</li>
      <li>More</li>
    </ul> 
    </p>
    <div class="row">
    <div class="col">
    <p >PoPS can be used to model most pests or pathogens. Read the <a class="text-light" href="{% url 'FAQs' %}">FAQs</a>
 to find out if 
    PoPS is right for your model system.
    </p>

    </div>
    <div class="col">
    <div class="text-center">
    <img src="{% static 'images/lanternfly.jpg' %}"class="rounded-circle" alt="Spotted Lanternfly">
</div>
   </div>
    </div>   
    </div>
    </div>
</div>


  <script>
    mapboxgl.accessToken =
      'pk.eyJ1Ijoic2hhbmtqNjg3IiwiYSI6ImNqc2pmc201eDE0amUzeXF6eTYzaDI2azUifQ.7uhVr9px-kAjXkqSdTW2OQ';
    /* eslint-disable */
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/dark-v9',
      center: [-75.89533170441632, 40.2039152196177], // initial map center in [lon, lat]
      zoom: 7, // starting zoom
      pitch: 60,
    });


function rotateCamera(timestamp) {
// clamp the rotation between 0 -360 degrees
// Divide timestamp by 100 to slow rotation to ~10 degrees / sec
map.rotateTo((timestamp / 200) % 360, {duration: 0});
// Request the next frame of the animation.
requestAnimationFrame(rotateCamera);
}

map.on('load', function() {
  map.addSource('infection', {
    'type': 'geojson',
    /*many types of data can be added, such as geojson, vector tiles or raster data*/
    'data': '{% static "map_data/infection_0_2019.geojson" %}'
  });
  /*here we are adding a source, then a layer based on that that source*/


map.addLayer({
                            "id": 'infection_extrusion_layer',
                            "type": 'fill-extrusion',
                            "source": 'infection',
                            'paint': {
                            'fill-extrusion-color': [
                            'interpolate',
                            ['linear'],
                            ['get', 'layer.1'],
                            0, '#009CB0',
                            0.1, '#00C49D',
                            0.2, '#00D793',
                            0.3, '#00FF80',
                            0.4, '#24DA80',
                            0.5, '#48B680',
                            0.6, '#6D9180',
                            0.7, '#916D80',
                            0.8, '#B64880',
                            0.9, '#DA2480',
                            1, '#ff0000'
                            ],
                            'fill-extrusion-height':
                            ['*', ['number', ['get', 'layer.1'], 0], 10000],

                            'fill-extrusion-opacity': 0.6
                            }
                            }, );

rotateCamera(0);

});
</script>

{% endblock %}