{% extends 'base.html' %}
{% load static %}
{% block page_styles %}
  <link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">
  <div id="header" class="row text-center">
    <div class="col">
      <h1>About</h1>
    </div>
  </div>
  <div id="" class="row justify-content-center section-style">
      <div class="col-md-10 py-4">
        <h2>What is the PoPS model?</h2>
        <p>The flexible, customizable PoPS (Pest or Pathogen Spread) model simulates reproduction, 
        dispersal, and establishment of pests and pathogens through space and time. The PoPS model 
        is the power-house behind the PoPS web dashboard.</p>
        <div class="text-center">
        <img class='img-fluid w-100' style="max-width:550px" src="{% static 'images/About_Equation.svg' %}"
            alt="The PoPS Model Equation">
            </div>
        <div class="text-center">
        <img class='img-fluid w-100' style="max-width:700px" src="{% static 'images/About_ModelDescription.png' %}"
            alt="The PoPS Model">
          </div>
      </div>
  </div>

</div>

{% endblock %}