<!-- templates/account_activation_sent.html -->
{% extends 'base.html' %}
{% block page_styles %}
  <link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">
    <div id="header" class="row text-center" style="background-color:transparent;">
        <div class="col">
            <h1>Success</h1>
        </div>
    </div>
    <div id="" class="row justify-content-center section-style">
        <div class="col-md-10 text-center">
            <p>Your account is activated.
            </p>
        </div>
    </div>
</div>
{% endblock %}