<!DOCTYPE html> 
<html lang="en">
        {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Latest compiled and minified CSS -->
  <!--
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
-->
<script src="https://kit.fontawesome.com/13b83b6ee8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
  {% block jquery_source %}
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
  {% endblock %}
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  {% block page_styles %}
  {% endblock %}
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

  <title>PoPS</title>
</head>

<body class="text-light">
  <nav class="navbar navbar-expand-sm navbar-dark">
      <a href="{% url 'landing_page' %}" class="navbar-brand d-none d-inline-block">
        <img src="{% static 'images/PoPSlogo_simple.svg' %}" style="width: 100px;" class="d-inline-block align-top"
          alt="Pest or Pathogen Spread Simulation">
      </a>
      <span class="navbar-text d-none d-md-inline-block mr-auto">Pest or Pathogen Spread Model</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item " href="{% url 'the-pops-model' %}">The PoPS Model</a>
              <a class="dropdown-item " href="{% url 'the-pops-platform' %}">The PoPS Forecasting Platform</a>
              <a class="dropdown-item " href="{% url 'publications' %}">Publications</a>
              <a class="dropdown-item " href="{% url 'team' %}">Team</a>
            </div>
          </li>
          <li class="nav-item ">
              <a class="btn btn-action" href="{% url 'get-pops' %}" style="">Start using PoPS</a>              
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              My PoPS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item " href="{% url 'workspace' %}">My Workspace</a>
              <a class="dropdown-item " href="{% url 'my_account' %}">My Account</a>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'logout' %}">Log Out <em>({{ user.username }}</em>)</a>
          </li>
          {% else %}
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'login' %}">Log In</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'signup' %}">Sign up</a>
          </li>
          {% endif %}
        </ul>
      </div>
  </nav>

  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer class="page-footer pt-2">
    <!-- Footer Links -->
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <a href="{% url 'team' %}">Team</a>
        </div>
        <div class="col">
          <a class="" href="{% url 'publications' %}">Publications</a>
        </div>
        <div class="col">
          <a class="" href="{% url 'subscribe_email' %}">Join our Newsletter</a>
        </div>        
        {% comment %} <div class="col">
          <a class="" href="{% url 'terms_and_conditions' %}">Terms and Conditions</a>
        </div>
        <div class="col">
          <a class="" href="{% url 'privacy_policy' %}">Privacy Policy</a>
        </div>
        <div class="col">
          <a class="" href="{% url 'FAQs' %}">FAQs</a>
        </div> {% endcomment %}
        <div class="col">
          <a class="" href="{% url 'contact' %}">Contact</a>
        </div>
      </div><!-- End Grid row -->
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 
        <a href="https://popsmodel.org"> popsmodel.org</a>
      </div><!-- End Copyright -->
    </div><!--End container-->
  </footer><!-- End Footer -->

  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>
{% block scripts %}
{% endblock %}    
</body>
</html>
