{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
<!-- AJAX requires jquery (not jquery slim) -->
{% block jquery_source %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">
    <div id="header" class="row text-center">
        <div class="col">
            <h1>Get PoPS</h1>
        </div>
    </div>
    <div id="" class="row justify-content-center section-style section-style-1">
        <div class="col-xl-8 col-lg-10 col-md-12 py-4">
            <h2>How can I use PoPS?</h2>
            <hr style="border-top: 1px solid rgba(256, 256, 256, 0.1);">
            <p>PoPS is open source and freely available for anyone to use. There are two ways you can run PoPS:</p>
            <div class="row justify-content-center">
                <div class="col-md-5 bg-light text-dark m-2 py-2" style="border-style: outset;">
                    <h3 class="text-center">Option 1:</h3>
                    <p class="text-center lead">Download PoPS</p>
                    <div class="text-center pb-2">
                        <img class='img-fluid w-100' style="max-width:250px"
                            src="{% static 'images/Computer_screen_with_coding.png' %}" alt="The PoPS Model">
                    </div>
                    <p>Users may download the PoPS model code to run on their own computer. PoPS packages are available
                        in the following environments:
                        <ul>
                            <li>R</li>
                            <li>GRASS GIS <small>(includes desktop interface)</small></li>
                            <li>Python (<em>coming soon</em>)</li>
                        </ul>
                    </p>
                    <div class="text-center pb-2">
                        <a class="btn btn-alert mx-2" href="#available-packages" role="button"><i
                                class="fas fa-sign-in-alt"></i> See available packages</a>
                    </div>
                </div>
                <div class="col-md-5 bg-light text-dark m-2 py-2" style="border-style: outset;">
                    <h3 class="text-center">Option 2:</h3>
                    <p class="text-center lead">Use the PoPS Dashboard</p>
                    <div class="text-center pb-2">
                        <img class='img-fluid w-100' style="max-width:250px"
                            src="{% static 'images/Computer_screen_with_dashboard.png' %}" alt="The PoPS Model">
                    </div>
                    <p>(<em>Available for public use soon.</em>)<p>
                            <p>No coding experience? We developed an easy-to-use interface to run the <a
                                    class="font-red font-dark" href="{% url 'the-pops-platform' %}">PoPS model in the
                                    cloud</a>. The dashboard is currently being used internally and will be made
                                available for public use soon.</p>
                            <form id="add_email" action="{% url 'subscribe_email' %}" method="post">
                                {% csrf_token %}
                                <small>Get notified when the PoPS Dashboard is available:</small>
                                <div class="input-group">
                                    <input type="email" class="form-control" name="email" id="id_email"
                                        placeholder="name@example.com">
                                    <div class="input-group-append">
                                        <button class="btn btn-warn" type="submit">Sign up</button>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                                    <label class="form-check-label" for="exampleCheck1"><small>I want to receive PoPS
                                            updates</small></label>
                                    <div><small id="emailHelp"> </small></div>
                                </div>
                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                <div class="g-recaptcha" data-sitekey="6Ld4FoYaAAAAAGNB0WwFf0T8hsoer9sM0bdJHjEB"></div>
                            </form>
                </div>
            </div>
        </div>
    </div>
    <div id="available-packages" class="row justify-content-center section-style section-style-3">
        <div class="col-xl-8 col-lg-10 col-md-12 py-4">
            <h2>Available PoPS Packages</h2>
            <hr style="border-top: 1px solid rgba(0,0,0, 0.1);">
            <p>PoPS 1.0 is currently available for download in <strong>R</strong> and <strong>GRASS GIS</strong>. Both
                versions of PoPS are wrappers
                around the <a class="font-red font-dark" href="https://github.com/ncsu-landscape-dynamics/pops-core"><i
                        class="fab fa-github"></i> PoPS Core C++ library for the Pest or Pathogen Spread Model</a>.
            </p>
            <div class="row justify-content-center">
                <div class="col-md-5 bg-light text-dark m-2 py-2" style="border-style: outset;">
                    <h3 class="text-center">R version</h3>
                    <div class="text-center pb-2">
                        <img class='img' style="max-height:60px" src="{% static 'images/R_icon.svg' %}"
                            alt="PoPS for R">
                    </div>
                    <div class="text-center pb-2">
                        <a class="btn btn-action mx-2" href="https://github.com/ncsu-landscape-dynamics/rpops"
                            role="button">
                            <i class="fas fa-download"></i>
                            Get PoPS on GitHub
                        </a>

                    </div>
                </div>
                <div class="col-md-5 bg-light text-dark m-2 py-2" style="border-style: outset;">
                    <h3 class="text-center">GRASS GIS version</h3>
                    <div class="text-center pb-2">
                        <img class='img' style="max-height:60px" src="{% static 'images/GRASS_GIS_icon.svg' %}"
                            alt="PoPS for GRASS GIS">
                    </div>
                    <div class="text-center pb-2">
                        <a class="btn btn-action mx-2" href="https://github.com/ncsu-landscape-dynamics/r.pops.spread"
                            role="button">
                            <i class="fas fa-download"></i>
                            Get PoPS on GitHub
                        </a>
                        <p><small><a class="font-yellow font-dark" target="_blank"
                                    href="https://mybinder.org/v2/gh/ncsu-landscape-dynamics/pops-intro-grass-notebook/master?urlpath=lab/tree/pops-intro-grass-notebook.ipynb">Try
                                    PoPS online</a></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/dashboard/ajax_setup_functions.js' %}"></script>
<script>
$("#add_email").on('submit', function () {
  console.log("Adding email");
  event.preventDefault();
  var form = $("#add_email");
  $.ajax({
    url: form.attr("action"),
    data: form.serialize(),
    type : "POST", // http method
    success: function (data) {
      console.log('Success')
      if (data.error) {
        $('#emailHelp').html('Error: ' + data.error);
      $( "#emailHelp" ).addClass( 'text-danger' );
      $( "#emailHelp" ).removeClass( 'text-muted' );
      }
      else {
      $('#emailHelp').html('<i class="fas fa-check text-success"></i> Please check ' + data.email + ' to confirm');
      $( "#emailHelp" ).removeClass( 'text-danger' );
      $( "#emailHelp" ).addClass( 'text-muted' );
      }
    },
    error : function(xhr,errmsg,err) {
    console.log('There was an error writing to the database: ' + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    var data=xhr.responseText;
    var jsonResponse = JSON.parse(data);
    console.log(jsonResponse["email"]);
    $('#emailHelp').text('Error: ' + jsonResponse["email"] );
    $( "#emailHelp" ).removeClass( 'text-muted' );
    $( "#emailHelp" ).addClass( 'text-danger' );
    }
  });
});

</script>
{% endblock %}