{% extends 'base.html' %}
{% load static %}
{% block page_styles %}
  <link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">
  <div id="header" class="row text-center">
    <div class="col">
      <h1>Helpful Links</h1>
    </div>
  </div>
  <div id="" class="row justify-content-center section-style">
    <div class="col-md-10 ">
      <p>The PoPS Forecasting Platform consists of a series of interconnected packages and tools shown
        below.
      </p>
      <p>PoPS users may download <strong>R</strong> or <strong>GRASS GIS</strong> versions of PoPS to run simulations on
        their own computer. A <strong>Python</strong> version of PoPS is currently under development.
      </p>
      <p>
        In the near future, users will be able to run PoPS on the web-based dashboard which runs PoPS in the cloud,
        and saves results in the PoPS database.
      </p>
      <div class="text-center">
        <img class='img-fluid w-100' style="max-width:900px" src="{% static 'images/OSF_OverviewOfPoPSPlatform.png' %}"
          alt="PoPS is easy to use.">
      </div>
    </div>
  </div>
  <div id="" class="row justify-content-center section-style section-style-3">
    <div class="col-md-10 ">
      <h2><i class="fab fa-r-project"></i> <strong>R</strong> version of PoPS</h2>
    </div>
  </div>
  <div id="" class="row justify-content-center section-style section-style-1">
    <div class="col-md-7 ">
    <h4>rpops</h4>
      <p>
        This is the R package for simulating spread of pests and pathogens. The package is an
        R package with multiple functions built around the PoPS (Pest or Pathogen Spread) model
        implemented in the C++ library maintained in the
        <a class="text-light" href="https://github.com/ncsu-landscape-dynamics/pops-core"><strong>PoPS Core Repository</strong>
        <i class="fab fa-github"></i></a>.
      </p>
      PoPs is a stochastic spread model of pests and pathogens in forest and agricultural landscapes.
      The R package provides an easy way for researchers to calibrate, validate, and test what if
      scenarios of treatment interventions. The model is also available in GRASS GIS you can install
      and use r.pops.spread to run the model in GRASS GIS.
      </p>
    </div>
    <div class="col-md-3">
      <div class="text-center pb-2">
        <img class='img' style="max-height:50px" src="{% static 'images/R_icon.svg' %}"
          alt="PoPS for R">
      </div>
      <div class="text-center">
        <a class="btn btn-warning" href="https://github.com/ncsu-landscape-dynamics/rpops">
          <i class="fab fa-github"></i> Get rpops</a>
      </div>
    </div>
  </div>
<div id="" class="row justify-content-center section-style section-style-3">
  <div class="col-md-10 ">
    <h2><i class="fas fa-download"></i> <strong>GRASS GIS</strong> version of PoPS</h2>
  </div>
</div>
  <div id="" class="row justify-content-center section-style section-style-1">
    <div class="col-md-7 ">
    <h4>r.pops.spread</h4>
    <p>
      This is a GRASS GIS module r.pops.spread for simulating spread of pests and pathogens. 
      The module is a GRASS GIS interface to the PoPS (Pest or Pathogen Spread) model 
      implemented in C++ library maintained in the <a class="text-light" 
      href="https://github.com/ncsu-landscape-dynamics/pops-core"><strong>PoPS Core Repository</strong>
        <i class="fab fa-github"></i></a>.
</p>
<p>
The purpose of the r.pops.spread module is to provide easy way of running the model 
in GRASS GIS environment once you have calibrated the model for your purposes. 
You can obtain the calibration from a colleague or published work or you can 
calibrate the model manually (in GRASS GIS) or use the R interface to PoPS called 
rpops to do that.
      </p>
    </div>
    <div class="col-md-3">
      <div class="text-center pb-2">
        <img class='img' style="max-height:80px" src="{% static 'images/GRASS_GIS_icon.svg' %}"
          alt="PoPS for GRASS GIS">
      </div>
      <div class="text-center">
        <a class="btn btn-warning" href="https://github.com/ncsu-landscape-dynamics/r.pops.spread">
          <i class="fab fa-github"></i> Get r.pops.spread</a>
      </div>
    </div>
  </div>
<div id="" class="row justify-content-center section-style section-style-1">
  <div class="col-md-10 ">
    <div>
      <a class="text-light"
        href="https://mybinder.org/v2/gh/ncsu-landscape-dynamics/pops-intro-grass-notebook/master?urlpath=lab/tree/pops-intro-grass-notebook.ipynb">
        Binder link</a>
    </div>
    <div>
      <a class="text-light"
        href="https://github.com/ncsu-landscape-dynamics/pops-intro-grass-notebook/blob/master/pops-intro-grass-notebook.ipynb">
        Static notebook (rendered by</a>
    </div>
    <div>
      <a class="text-light" href="https://github.com/ncsu-landscape-dynamics/r.pops.spread#download-and-install">
        Install instructions for r.pops.spread</a>
    </div>
    Actually, it is this:
    The latest release of the r.pops.spread module is available in GRASS GIS Addons repository and can be installed
    directly in GRASS GIS through graphical user interface or using the following command:

    <div><samp>g.extension r.pops.spread</samp></div>
  </div>
</div>
<div id="" class="row justify-content-center section-style section-style-3">
  <div class="col-md-10 ">
    <h2><i class="fab fa-python"></i> <strong>Python</strong> version of PoPS</h2>
  </div>
</div>
<div id="" class="row justify-content-center section-style section-style-1">
  <div class="col-md-10 ">
    <p>PyPoPS is currently under development and will be available soon!</p>
  </div>
</div>
</div>
{% endblock %}