{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">
    <div id="header" class="row text-center">
        <div class="col">
            <h1>Publications</h1>
        </div>
    </div>
    <div id="" class="row justify-content-center section-style section-style-3">
        <div class="col-xl-6 col-lg-8 col-md-10 py-4">
            <h2>Publications using PoPS</h2>
            <hr style="border-top: 1px solid rgba(0,0,0, 0.1);">
            <p class="text-dark">Jones, C., Jones, S. Petrasova, A., Petras, V., Gaydos, D.A., Skrip, M.M, Takeuchi, Y., Bigsby, K., & Meentemeyer, R.K. (In press). Iteratively forecasting invasions with PoPS and a little help from our friends. <i>Frontiers in Ecology and the Environment.</i> </p>
            <p><a class="text-dark"
                    href="https://www.sciencedirect.com/science/article/abs/pii/S1364815220306873">Petrasova, A.,
                    Gaydos, D. A., Petras, V., Jones, C. M., Mitasova, H., & Meentemeyer, R. K. (2020). Geospatial
                    simulation steering for adaptive management. <i>Environmental Modelling & Software</i>, 133, 104801.
                    <i class="fas fa-external-link-alt font-green font-dark"></i></a></p>
                    
        </div>
    </div>
    <div id="" class="row justify-content-center section-style section-style-1">
        <div class="col-xl-6 col-lg-8 col-md-10 py-4">
            <h2>How to cite PoPS</h2>
            <hr style="border-top: 1px solid rgba(256,256,256, 0.1);">
            <div>
                <p>
                    If you use this software or code, please cite the following papers:
                </p>
                <ul>
                    <li>
                        <a class="text-light"
                            href="https://esajournals.onlinelibrary.wiley.com/doi/full/10.1890/ES10-00192.1%4010.1002/%28ISSN%292150-8925%28CAT%29VirtualIssue%28VI%29ECS2">Meentemeyer,
                            R. K., Cunniffe, N. J., Cook, A. R., Filipe, J. A., Hunter, R. D., Rizzo, D. M., & Gilligan,
                            C. A. (2011). Epidemiological modeling of invasion in heterogeneous landscapes: spread of
                            sudden oak death in California (1990–2030). <i>Ecosphere</i>, 2(2), 1-24. <i
                                class="fas fa-external-link-alt font-green font-light"></i></a>
                    </li>
                    <li>
                        <a class="text-light"
                            href="https://www.sciencedirect.com/science/article/pii/S1364815217300488">Tonini, F.,
                            Shoemaker, D., Petrasova, A., Harmon, B., Petras, V., Cobb, R. C., ... & Meentemeyer, R. K.
                            (2017). Tangible geospatial modeling for collaborative solutions to invasive species
                            management. <i>Environmental modelling & software</i>, 92, 176-188. <i
                                class="fas fa-external-link-alt font-green font-light"></i></a>
                    </li>
                </ul>

                <p>
                    In case you are using the automatic management feature in rpops or the steering version of
                    r.pops.spread (from the branch steering), please cite also:
                </p>
                <ul>
                    <li>
                        <a class="text-light"
                            href="https://www.sciencedirect.com/science/article/abs/pii/S1364815220306873">Petrasova,
                            A., Gaydos, D. A., Petras, V., Jones, C. M., Mitasova, H., & Meentemeyer, R. K. (2020).
                            Geospatial simulation steering for adaptive management. <i>Environmental Modelling &
                                Software</i>, 133, 104801. <i
                                class="fas fa-external-link-alt font-green font-light"></i></a>
                    </li>
                </ul>
                <p>
                    In addition to citing the above paper, we also encourage you to reference, link, and/or acknowledge
                    specific version of the software you are using. For example:
                </p>
                <ul>
                    <li>
                        <i>We have used rpops R package version 1.0.0 from
                            https://github.com/ncsu-landscape-dynamics/rpops.</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}