{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">
    <div id="header" class="row text-center">
        <div class="col">
            <h1>Publications</h1>
        </div>
    </div>
    <div id="" class="row justify-content-center section-style section-style-3">
        <div class="col-xl-6 col-lg-8 col-md-10 py-4">
            <h2>Publications using PoPS</h2>
            <hr style="border-top: 1px solid rgba(0,0,0, 0.1);">

            <p><a class="text-dark"
                    href="https://www.sciencedirect.com/science/article/abs/pii/S1364815220306873">Petrasova, A.,
                    Gaydos, D. A., Petras, V., Jones, C. M., Mitasova, H., & Meentemeyer, R. K. (2020). Geospatial
                    simulation steering for adaptive management. <i>Environmental Modelling & Software</i>, 133, 104801.
                    <i class="fas fa-external-link-alt font-green font-dark"></i></a>
            </p>
            <p><a class="text-dark" href="https://doi.org/10.1002/fee.2357">
                    Jones, C., Jones, S. Petrasova, A., Petras, V., Gaydos, D.A., Skrip, M.M, Takeuchi, Y., Bigsby, K.,
                    & Meentemeyer, R.K. (2021).
                    Iteratively forecasting biological invasions with PoPS and a little help from our friends.
                    <i>Frontiers in
                        Ecology and the Environment</i>, 19(7), 411-418.
                    <i class="fas fa-external-link-alt font-green font-dark"></i></a>
            </p>
            <p><a class="text-dark" href="https://doi.org/10.1002/eap.2446">
                    Gaydos, D. A., Jones, C. M., Jones, S. K., Millar, G. C., Petras, V., Petrasova, A., ... &
                    Meentemeyer, R. K. (2021).
                    Evaluating online and tangible interfaces for engaging stakeholders in forecasting and control of
                    biological invasions.
                    <i>Ecological Applications</i>,
                    31(8), e02446.
                    <i class="fas fa-external-link-alt font-green font-dark"></i></a>
            </p>
            <p><a class="text-dark" href="https://doi.org/10.1111/tbed.13997">
                    Galvis, J. A., Jones, C. M., Prada, J. M., Corzo, C. A., & Machado, G. (2022).
                    The between‐farm transmission dynamics of porcine epidemic diarrhoea virus: A short‐term forecast
                    modelling
                    comparison and the effectiveness of control strategies. <i>Transboundary and Emerging Diseases</i>,
                    69(2), 396-412.
                    <i class="fas fa-external-link-alt font-green font-dark"></i></a>
            </p>
            <p><a class="text-dark" href="https://www.nature.com/articles/s42003-022-03447-0">
                    Jones, C., Skrip, M. M., Seliger, B. J., Jones, S., Wakie, T., Takeuchi, Y., Petras, V., Petrasova,
                    A., & Meentemeyer, R. K. (2022).
                    Spotted lanternfly predicted to establish in California by 2033 without preventative management.
                    <i>Communications Biology</i>,
                    5(1), 558.
                    <i class="fas fa-external-link-alt font-green font-dark"></i></a>
            </p>


        </div>
    </div>
    <div id="" class="row justify-content-center section-style section-style-1">
        <div class="col-xl-6 col-lg-8 col-md-10 py-4">
            <h2>How to cite PoPS</h2>
            <hr style="border-top: 1px solid rgba(256,256,256, 0.1);">
            <div>
                <p>
                    If you use this software or code, please cite the following papers:
                </p>
                <ul>
                    <li>
                        <a class="text-light" href="https://doi.org/10.1002/fee.2357">
                            Jones, C., Jones, S. Petrasova, A., Petras, V., Gaydos, D.A., Skrip, M.M, Takeuchi, Y.,
                            Bigsby, K.,
                            & Meentemeyer, R.K. (2021).
                            Iteratively forecasting biological invasions with PoPS and a little help from our friends.
                            <i>Frontiers in
                                Ecology and the Environment</i>, 19(7), 411-418.
                            <i class="fas fa-external-link-alt font-green font-dark"></i></a>
                    </li>
                </ul>

                <p>
                    In case you are using the automatic management feature in rpops or the steering version of
                    r.pops.spread (from the branch steering), please cite also:
                </p>
                <ul>
                    <li>
                        <a class="text-light"
                            href="https://www.sciencedirect.com/science/article/abs/pii/S1364815220306873">Petrasova,
                            A., Gaydos, D. A., Petras, V., Jones, C. M., Mitasova, H., & Meentemeyer, R. K. (2020).
                            Geospatial simulation steering for adaptive management. <i>Environmental Modelling &
                                Software</i>, 133, 104801. <i
                                class="fas fa-external-link-alt font-green font-light"></i></a>
                    </li>
                </ul>
                <p>
                    In addition to citing the above paper, we also encourage you to reference, link, and/or acknowledge
                    specific version of the software you are using. For example:
                </p>
                <ul>
                    <li>
                        <i>We have used rpops R package version 1.0.0 from
                            https://github.com/ncsu-landscape-dynamics/rpops.</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}