{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load get_staff_approved %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">

  <div id="header" class="row text-center" style="background-color:transparent;">
    <div class="col">
      <h1>Sign up</h1>
    </div>
  </div>
  <form method="post">
<div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
     
  {% csrf_token %}
  {{ form|crispy }}
    <div class="text-center">
  <button class="btn btn-info btn-lg" type="submit">Sign up for PoPS</button>
  </div>
<div class="py-2">
  <p>By signing up, you agree to our 
  <a class="" href="#">Terms and Conditions</a> 
  and that you have read our <a class="" href="#">Privacy Policy</a>.<p>
  </div>
</form>
</div>
</div>
</div>
{% endblock %}