{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container pt-4">
    <div class="row">
        <form class="col-4">
            <div class="form-group mb-2">
                <label for="Event ID">Event ID</label>
                <input type="text" class="form-control" id="Event ID" aria-describedby="event ID" placeholder="00000">
                <small id="eventIDHelp" class="form-text text-muted">Enter the tangible landscape Event ID.</small>
            </div>
        </form>
    </div>
  </div>

  <div class="container pt-4">
        <div class="row">
            <div class="col">
                Here is some output from django:
            </div>
        </div>
      </div>
  
{% endblock %}