{% extends 'base.html' %}
{% load static %}
  {% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
  {% endblock %}
{% block content %}



  <div id="header" class="container-fluid p-4 text-center ">
<h2>Meet the PoPS Team</h2>
<p>PoPS was first started in 2018 in the <a href="https://cnr.ncsu.edu/geospatial/">Center for Geospatial Analytics</a> 
at North Carolina State University. It has since grown into a team of scientists...</p>
</div>
  <div id="core-team" class="container-fluid p-4 text-center ">

<h2>Core Developers</h2>

<div id="people" class="card-deck ">
  <div class="card">
    <img class="card-img-top" src="{% static 'images/chris_jones.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="person-name card-title">Chris M. Jones, PhD</h5>
      <div class="person-title">Project Lead, Lead Developer</div>
      <p class="person-description card-text text-justify">Chris is a 
      Research Associate in the Center for Geospatial Analytics at NC State. His research 
      focuses on developing tools to aid decision makers.</p>
    </div>
    <div class=" person-contact card-footer text-left">
    <div class="email">
    <i class="fas fa-envelope"></i> cmjone25@ncsu.edu
    </div>
    <div class="website">
    <i class="fas fa-globe"></i> ??
    </div>
    <div class="github-repo">
    <i class="fab fa-github"></i> <a href="https://github.com/ChrisJones687">github.com/ChrisJones687</a>
    </div>
    </div>
  </div>  <div class="card">
    <img class="card-img-top" src="{% static 'images/shannon.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="person-name card-title">Shannon K. Jones, PhD</h5>
      <div class="person-title">Front-end Developer</div>
      <p class="person-description card-text text-justify">Shannon is a 
      Research Associate in the Center for Geospatial Analytics at NC State. She 
      develops the website version of PoPS.</p>
    </div>
    <div class="person-contact card-footer text-left">
    <div class="email">
    <i class="fas fa-envelope"></i> skjohnso@ncsu.edu
    </div>
        <div class="website">
    <i class="fas fa-globe"></i> ??
    </div>
    <div class="github-repo">
    <i class="fab fa-github"></i> <a href="https://github.com/shannonkjones">github.com/shannonkjones</a>
    </div>
    </div>
  </div>  <div class="card">
    <img class="card-img-top" src="{% static 'images/devon.png' %}" alt="Devon Gaydos">
    <div class="card-body">
      <h5 class="person-name card-title">Devon Gaydos</h5>
      <div class="person-title">Developer</div>
      <p class="person-description card-text text-justify">Devon is a grad student 
      in the Center for Geospatial Analytics at NC State. Her research 
      focuses on engaging stakeholders with tools to interact with geospatial
      models.</p>
    </div>
    <div class="person-contact card-footer text-left">
    <div class="email">
    <i class="fas fa-envelope"></i> ??@ncsu.edu
    </div>
    <div class="website">
    <i class="fas fa-globe"></i> ??.web.ncsu.edu
    </div>
    <div class="github-repo">
    <i class="fab fa-github"></i> <a href="https://github.com/ChrisJones687">github.com/??</a>
    </div>
    </div>
  </div>  <div class="card">
    <img class="card-img-top" src="{% static 'images/chris_jones.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="person-name card-title">Chris M. Jones, PhD</h5>
      <div class="person-title">Project Lead, Lead Developer</div>
      <p class="person-description card-text text-justify">Chris is a 
      Research Associate in the Center for Geospatial Analytics. His research 
      focuses on developing tools to aid decision makers.</p>
    </div>
    <div class="card-footer text-left">
    <div class="email">
    <i class="fas fa-envelope"></i> chris@ncsu.edu
    </div>
    <div class="website">
    <i class="fas fa-globe"></i> chris.web.ncsu.edu
    </div>
    <div class="github-repo">
    <i class="fab fa-github"></i> <a href="https://github.com/ChrisJones687">github.com/ChrisJones687</a>
    </div>
    </div>
  </div>  <div class="card">
    <img class="card-img-top" src="{% static 'images/chris_jones.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="person-name card-title">Chris M. Jones, PhD</h5>
      <div class="person-title">Project Lead, Lead Developer</div>
      <p class="person-description card-text text-justify">Chris is a 
      Research Associate in the Center for Geospatial Analytics. His research 
      focuses on developing tools to aid decision makers.</p>
    </div>
    <div class="card-footer text-left">
    <div class="email">
    <i class="fas fa-envelope"></i> chris@ncsu.edu
    </div>
    <div class="website">
    <i class="fas fa-globe"></i> chris.web.ncsu.edu
    </div>
    <div class="github-repo">
    <i class="fab fa-github"></i> <a href="https://github.com/ChrisJones687">github.com/ChrisJones687</a>
    </div>
    </div>
  </div>  <div class="card">
    <img class="card-img-top" src="{% static 'images/chris_jones.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="person-name card-title">Chris M. Jones, PhD</h5>
      <div class="person-title">Project Lead, Lead Developer</div>
      <p class="person-description card-text text-justify">Chris is a 
      Research Associate in the Center for Geospatial Analytics. His research 
      focuses on developing tools to aid decision makers.</p>
    </div>
    <div class="card-footer text-left">
    <div class="email">
    <i class="fas fa-envelope"></i> chris@ncsu.edu
    </div>
    <div class="website">
    <i class="fas fa-globe"></i> chris.web.ncsu.edu
    </div>
    <div class="github-repo">
    <i class="fab fa-github"></i> <a href="https://github.com/ChrisJones687">github.com/ChrisJones687</a>
    </div>
    </div>
  </div>
  </div>
  </div>

</div>
  <div id="affiliates" class="container-fluid p-4 text-center ">

<h2 class="text-center">Affiliates</h2>

<div id="people" class="card-deck ">
  <div class="card">
    <img class="card-img-top" src="{% static 'images/chris_jones.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="person-name card-title">Chris M. Jones, PhD</h5>
      <div class="person-title">Project Lead, Lead Developer</div>
      <p class="person-description card-text text-justify">Chris is a 
      Research Associate in the Center for Geospatial Analytics at NC State. His research 
      focuses on developing tools to aid decision makers.</p>
    </div>
    <div class=" person-contact card-footer text-left">
    <div class="email">
    <i class="fas fa-envelope"></i> cmjone25@ncsu.edu
    </div>
    <div class="website">
    <i class="fas fa-globe"></i> ??
    </div>
    <div class="github-repo">
    <i class="fab fa-github"></i> <a href="https://github.com/ChrisJones687">github.com/ChrisJones687</a>
    </div>
    </div>
  </div>  <div class="card">
    <img class="card-img-top" src="{% static 'images/shannon.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="person-name card-title">Shannon K. Jones, PhD</h5>
      <div class="person-title">Front-end Developer</div>
      <p class="person-description card-text text-justify">Shannon is a 
      Research Associate in the Center for Geospatial Analytics at NC State. She 
      develops the website version of PoPS.</p>
    </div>
    <div class="person-contact card-footer text-left">
    <div class="email">
    <i class="fas fa-envelope"></i> skjohnso@ncsu.edu
    </div>
        <div class="website">
    <i class="fas fa-globe"></i> ??
    </div>
    <div class="github-repo">
    <i class="fab fa-github"></i> <a href="https://github.com/shannonkjones">github.com/shannonkjones</a>
    </div>
    </div>
  </div>  <div class="card">
    <img class="card-img-top" src="{% static 'images/devon.png' %}" alt="Devon Gaydos">
    <div class="card-body">
      <h5 class="person-name card-title">Devon Gaydos</h5>
      <div class="person-title">Developer</div>
      <p class="person-description card-text text-justify">Devon is a grad student 
      in the Center for Geospatial Analytics at NC State. Her research 
      focuses on engaging stakeholders with tools to interact with geospatial
      models.</p>
    </div>
    <div class="person-contact card-footer text-left">
    <div class="email">
    <i class="fas fa-envelope"></i> ??@ncsu.edu
    </div>
    <div class="website">
    <i class="fas fa-globe"></i> ??.web.ncsu.edu
    </div>
    <div class="github-repo">
    <i class="fab fa-github"></i> <a href="https://github.com/ChrisJones687">github.com/??</a>
    </div>
    </div>
  </div>  <div class="card">
    <img class="card-img-top" src="{% static 'images/chris_jones.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="person-name card-title">Chris M. Jones, PhD</h5>
      <div class="person-title">Project Lead, Lead Developer</div>
      <p class="person-description card-text text-justify">Chris is a 
      Research Associate in the Center for Geospatial Analytics. His research 
      focuses on developing tools to aid decision makers.</p>
    </div>
    <div class="card-footer text-left">
    <div class="email">
    <i class="fas fa-envelope"></i> chris@ncsu.edu
    </div>
    <div class="website">
    <i class="fas fa-globe"></i> chris.web.ncsu.edu
    </div>
    <div class="github-repo">
    <i class="fab fa-github"></i> <a href="https://github.com/ChrisJones687">github.com/ChrisJones687</a>
    </div>
    </div>
  </div>  <div class="card">
    <img class="card-img-top" src="{% static 'images/chris_jones.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="person-name card-title">Chris M. Jones, PhD</h5>
      <div class="person-title">Project Lead, Lead Developer</div>
      <p class="person-description card-text text-justify">Chris is a 
      Research Associate in the Center for Geospatial Analytics. His research 
      focuses on developing tools to aid decision makers.</p>
    </div>
    <div class="card-footer text-left">
    <div class="email">
    <i class="fas fa-envelope"></i> chris@ncsu.edu
    </div>
    <div class="website">
    <i class="fas fa-globe"></i> chris.web.ncsu.edu
    </div>
    <div class="github-repo">
    <i class="fab fa-github"></i> <a href="https://github.com/ChrisJones687">github.com/ChrisJones687</a>
    </div>
    </div>
  </div>  <div class="card">
    <img class="card-img-top" src="{% static 'images/chris_jones.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="person-name card-title">Chris M. Jones, PhD</h5>
      <div class="person-title">Project Lead, Lead Developer</div>
      <p class="person-description card-text text-justify">Chris is a 
      Research Associate in the Center for Geospatial Analytics. His research 
      focuses on developing tools to aid decision makers.</p>
    </div>
    <div class="card-footer text-left">
    <div class="email">
    <i class="fas fa-envelope"></i> chris@ncsu.edu
    </div>
    <div class="website">
    <i class="fas fa-globe"></i> chris.web.ncsu.edu
    </div>
    <div class="github-repo">
    <i class="fab fa-github"></i> <a href="https://github.com/ChrisJones687">github.com/ChrisJones687</a>
    </div>
    </div>
  </div>
  </div>
  </div>

</div>
  <div id="funding" class="container-fluid p-4 text-center ">
<h2 class="text-center">Thank you for the support we've received!</h2>
<p class="text-left">The PoPS team would like to acknowledge the individuals and agencies that have
supported our mission:</p>
<ul class="text-left">
      <li>USDA (Animal and Plant Health Inspection Service): Grant #</li>
      <li>Other</li>
</ul>
</div>
{% endblock %}