{% extends 'base.html' %}
{% load static %}
{% block page_styles %}
  <link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
  <link rel="stylesheet" href="{% static 'css/team.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">
    <div id="header" class="row justify-content-center text-center section-style">
        <div class="col-md-10">
            <h1>Team</h1>
        </div>
    </div>
    <div class="row justify-content-center  section-style section-style-0">
        <div class="col-md-10">
            <div class="lead">PoPS was started in 2018 in the <strong><a class="text-light"
                        href="https://cnr.ncsu.edu/geospatial/">Center
                        for Geospatial Analytics</a></strong>
                at North Carolina State University in collaboration with USDA-APHIS.
                It has rapidly grown into a talented team of field scientists, computer and data scientists, and
                government
                organizations
                dedicated to changing the way pests and pathogens are managed.
            </div>
        </div>
    </div>

  {% if current_members %}
  <div id="" class="row justify-content-center section-style section-style-0">
    <div class="col-md-10 text-center">
      <h2>Development Team</h2>
      <div id="people" class="card-deck ">
        {% for member in current_members %}
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ member.picture.url }}" alt="Card image cap">
          <div class="card-body">

            <h5 class="person-name card-title">
              <a class="text-dark" href="{{ member.link }}" data-toggle="tooltip" data-placement="top"
                title="Go to website">
                {{ member.first_name }} {{ member.last_name }}
              </a>
              {% if member.github %}
              <small><a class="text-dark" data-toggle="tooltip" data-placement="top" title="Go to GitHub repository"
                  href="{{ member.github }}"><i class="fab fa-github"></i> </a></small>
              {% endif %}
            </h5>
            <div class="person-title">{{ member.title }} </div>
            <div class="person-department"> {{ member.department }},</div>
            <div class="person-organization"> {{ member.organization}} </div>
            <p class="person-description card-text text-left">{{ member.role }}</p>
          </div>
        </div>
        {% empty %}
        <li>No members.</li>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if affiliate_members %}
  <div id="" class="row justify-content-center section-style section-style-2">
    <div class="col-md-10 text-center">
      <h2>Affiliates</h2>
      <div id="people" class="card-deck ">
        {% for member in affiliate_members %}
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ member.picture.url }}" alt="Card image cap">
          <div class="card-body">

            <h5 class="person-name card-title">
              <a class="text-dark" href="{{ member.link }}" data-toggle="tooltip" data-placement="top"
                title="Go to website">
                {{ member.first_name }} {{ member.last_name }}
              </a>
              {% if member.github %}
              <small><a class="text-dark" data-toggle="tooltip" data-placement="top" title="Go to GitHub repository"
                  href="{{ member.github }}"><i class="fab fa-github"></i> </a></small>
              {% endif %}
            </h5>
            <div class="person-title">{{ member.title }} </div>
            <div class="person-department"> {{ member.department }},</div>
            <div class="person-organization"> {{ member.organization}} </div>
            <p class="person-description card-text text-left">{{ member.role }}</p>
          </div>
        </div>
        {% empty %}
        <li>No members.</li>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if past_members %}
  <div id="" class="row justify-content-center section-style section-style-1">
    <div class="col-md-10 text-center">
      <h2>Past Members</h2>
      <div id="people" class="card-deck ">
        {% for member in past_members %}
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ member.picture.url }}" alt="Card image cap">
          <div class="card-body">

            <h5 class="person-name card-title">
              <a class="text-dark" href="{{ member.link }}" data-toggle="tooltip" data-placement="top"
                title="Go to website">
                {{ member.first_name }} {{ member.last_name }}
              </a>
              {% if member.github %}
              <small><a class="text-dark" data-toggle="tooltip" data-placement="top" title="Go to GitHub repository"
                  href="{{ member.github }}"><i class="fab fa-github"></i> </a></small>
              {% endif %}
            </h5>
            <div class="person-title">{{ member.title }} </div>
            <div class="person-department"> {{ member.department }},</div>
            <div class="person-organization"> {{ member.organization}} </div>
            <p class="person-description card-text text-left">{{ member.role }}</p>
          </div>
        </div>
        {% empty %}
        <li>No members.</li>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}