{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/information_pages.css' %}">
{% endblock %}
{% block content %}

<div id="page-content" class="container-fluid">
    <div id="header" class="row text-center">
        <div class="col">
            <h1>Applying Management in PoPS</h1>
        </div>
    </div>
    <div id="" class="row justify-content-center section-style section-style-1">
        <div class="col-xl-6 col-lg-8 col-md-10 py-4">
            <h2>How does PoPS apply management in the model?</h2>
            <hr style="border-top: 1px solid rgba(256,256,256, 0.1);">
            <p>PoPS allows two types of management:
                <ol>
                    <li><strong>Host removal</strong> (removes hosts from the cell)</li>
                    <li><strong>Pesticide application</strong> (converts infected hosts to resistant hosts for a given
                        duration)</li>
                </ol>
                The efficacy of management application can range from 0 to 100%. The model also permits both management
                types to be applied simultaneously. </p>
            <p>
                Below are examples of how PoPS applies management to a cell:
            </p>
            <div class="text-center pb-2">
                <img class='img-fluid w-100' style="max-width:700px"
                    src="{% static 'images/AboutPages/management_types.svg' %}"
                    alt="PoPS allows two types of management: host removal and pesticide application.">
            </div>
            <p>
                Management input as polygons is converted to raster management based on percent cell coverage. The “%
                removal” applied (a–e, above) is multiplied by the percent of the cell covered by the management (as
                shown below) to determine the overall percentage applied in a cell: for example, a cell with 50%
                management applied (a, above) but only 25% management coverage (below)
                would be calculated as having 12.5% of its hosts managed.
            </p>
            <div class="text-center pb-2">
                <img class='img-fluid w-100' style="max-width:700px"
                    src="{% static 'images/AboutPages/management_vector_to_raster.svg' %}"
                    alt="Management input as polygons is converted to raster management based on percent cell coverage.">
            </div>
        </div>
    </div>
</div>
{% endblock %}